In [10]:
%run api_keys.py
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from datetime import datetime, timedelta
import json
import re
import numpy as np
import time
from api_keys import email, passw, mongo_username, mongo_password #Please add to .gitnore file your own individual usernames and passwords. Also set up your account on the website with a watched area of your desire.
import pymongo

In [11]:
# Go to website
browser = Browser('chrome')
url = "https://housesigma.com/listings/watched-area-and-community"
browser.visit(url)
html = browser.html
soup_obj = soup(html, 'html.parser')

In [12]:
# Assign variables and Login
browser.execute_script('document.querySelector(".app-btn.round.regular.pressed-down.btn").click();')

In [13]:
email_input = WebDriverWait(browser.driver, 10).until(
    EC.element_to_be_clickable((By.CSS_SELECTOR, '.form-input.medium.clear.input input[type="email"]'))
)
email = email
passw = passw
login = email
email_input.send_keys(login)

In [14]:
password_input = WebDriverWait(browser.driver, 10).until(
    EC.element_to_be_clickable((By.CSS_SELECTOR, '.form-input.medium.clear.input input[type="password"]'))
)
password = passw 
password_input.send_keys(password)

In [15]:
button = browser.find_by_css('.app-btn.hs_btn_login_submit_email').first
button.click()

In [16]:
browser.is_element_present_by_css('.pc-listing-card', wait_time=10)
html = browser.html

In [ ]:
import time

data_list = []

num_scrolls = 30

for _ in range(num_scrolls):
    browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(5)

html = browser.page_source
soup_obj = soup(html, 'html.parser')
articles = soup_obj.find_all('article', class_='pc-listing-card')

for article in articles:
    data = {}
    
    address_element = article.find('h3', class_='address')
    address_text = address_element.text.strip() if address_element else None

    regex_pattern = r'^(\d+\s)?(.+?)\s*-\s*(.*)$'
    match = re.match(regex_pattern, address_text)

    if match:
        address_number = match.group(1)
        address = match.group(2)
        neighbourhood = match.group(3)
        data['Address'] = (address_number + address).strip() if address_number else address.strip()
        data['Neighbourhood'] = neighbourhood.strip()
    else:
        data['Address'] = address_text
        data['Neighbourhood'] = None

    json_scripts = article.find_all('script', class_='hs-script-home-struct', type='application/ld+json')

    for script in json_scripts:
        json_data = script.string
        if json_data:
            json_dict = json.loads(json_data)
            
            # Long and Lat and floor size
            if 'floorSize' in json_dict:
                data['Floor Size'] = json_dict['floorSize']['value']
            if 'geo' in json_dict:
                data['Latitude'] = json_dict['geo']['latitude']
                data['Longitude'] = json_dict['geo']['longitude']

    # Date
    date_preview_element = article.find('div', class_='date-preview')
    data['Date of Status'] = date_preview_element.text.strip() if date_preview_element else None

    # Price
    highlight_element = article.find('span', class_='highlight')
    line_through_element = article.find('span', class_='line-through')

    if highlight_element:
        data['Price Listed'] = highlight_element.text.strip()
    elif line_through_element:
        data['Price Listed'] = line_through_element.text.strip()
    else:
        data['Price Listed'] = None

    # Status
    status_element = article.select_one('div[class^="status-type"]')
    data['Status'] = status_element.text.strip() if status_element else None

    # Sold Price (if status is "Sold" or "Sold Conditional")
    if data['Status'] in ["Sold", "Sold Conditional"]:
        sold_price_element_special = article.select_one('div.price-area span.special')
        sold_price_element_highlight_special = article.select_one('div.price-area span.highlight.special')

        if sold_price_element_special:
            data['Sold Price'] = sold_price_element_special.text.strip()
        elif sold_price_element_highlight_special:
            data['Sold Price'] = sold_price_element_highlight_special.text.strip()
        else:
            data['Sold Price'] = None
    else:
        data['Sold Price'] = 0

    # Type of house
    type_element = article.find('p', class_='type')
    data['Type of House'] = type_element.text.strip() if type_element else None

    p_elements = article.find_all('p')
    for p in p_elements:
        text = p.get_text()

        # Bathroom
        if re.search(r'\b(?:bathroom)\b', text):
            bathroom_info = re.findall(r'\d+', text)
            if bathroom_info:
                data['Bathrooms'] = int(bathroom_info[0])

        # Bedroom
        if re.search(r'\b(?:bedroom)\b', text):
            bedroom_info = re.findall(r'\d+', text)
            if bedroom_info:
                data['Bedrooms'] = int(bedroom_info[0])

        # Garage
        if re.search(r'\b(?:garage)\b', text):
            garage_info = re.findall(r'\d+', text)
            if garage_info:
                data['Garage'] = int(garage_info[0])

    data_list.append(data)

for i, data in enumerate(data_list, 1):
    print(f"{i}: {data}")

In [38]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

def convert_relative_timestamp(relative_timestamp):
    if " hours ago" in relative_timestamp:
        hours = int(relative_timestamp.split()[0])
        absolute_timestamp = datetime.now() - timedelta(hours=hours)
        return absolute_timestamp.date()
    elif " days ago" in relative_timestamp:
        days = int(relative_timestamp.split()[0])
        absolute_timestamp = datetime.now() - timedelta(days=days)
        return absolute_timestamp.date()
    else:
        return datetime.now().date()

# Assuming 'data_list' is defined elsewhere
df = pd.DataFrame(data_list)

# Ensure 'Date of Status' column is in string format
df['Date of Status'] = df['Date of Status'].astype(str)

df['City'] = df['Address'].str.split(',').str[1].str.split(' - ').str[0]
df['Address'] = df['Address'].str.split(',').str[0]
df['Date of Status'] = df['Date of Status'].apply(convert_relative_timestamp)

# Convert 'Sold Price' column to strings
df['Sold Price'] = df['Sold Price'].astype(str)

# Remove '$' and ',' and convert to numeric
df['Sold Price'] = pd.to_numeric(df['Sold Price'].str.replace('$', '').str.replace(',', ''), errors='coerce')
df['Price Listed'] = pd.to_numeric(df['Price Listed'].str.replace('$', '').str.replace(',', ''), errors='coerce')

# Replace '-' with NaN in 'Price Listed' column
df['Price Listed'].replace('-', np.nan, inplace=True)

df

,Address,Neighbourhood,Latitude,Longitude,Date of Status,Price Listed,Status,Sold Price,Type of House,Bedrooms,Bathrooms,Garage,Floor Size,City
0,145 Laura Rd,Glenfield-Jane Heights,-79.521500,43.743850,2024-03-02,1108000.0,For Sale,0,Semi-Detached,4.0,3.0,0.0,NaN,North York
1,1566 Farmstead Dr,Ford,-79.839170,43.484610,2024-03-02,969900.0,For Sale,0,Freehold Townhouse,4.0,4.0,2.0,NaN,Milton
2,1498 Indian Rd,Lorne Park,-79.633390,43.535400,2024-03-02,1999900.0,For Sale,0,Detached,3.0,3.0,2.0,1750.0,Mississauga
3,383 Adelaide Ave E,O'Neill,-78.852470,43.907240,2024-03-02,849898.0,Sold Conditional,849898,Detached,3.0,2.0,1.0,1300.0,Oshawa
4,19 Great Gabe Cres,Windfields,-78.898820,43.958380,2024-03-02,599900.0,Sold,700000,Freehold Townhouse,2.0,2.0,1.0,1256.0,Oshawa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6745,407 Bonny Meadow Road,Eastlake,-79.644390,43.485246,2024-03-02,2099900.0,For Sale,0,Single Family Residence,4.0,4.0,2.0,2691.0,Oakville
6746,1251 Consort Crescent,Palmer,-79.805166,43.365916,2024-03-02,949000.0,For Sale,0,"Semi Detached, Single Family Residence",4.0,3.0,1.0,1736.0,Burlington
6747,407 - 2007 James Street,Central,-79.798072,43.326266,2024-03-02,699000.0,For Sale,0,"Apartment Unit, Condominium",2.0,2.0,0.0,845.0,Burlington
6748,46 Kenmore Road,Westdale North,-79.897374,43.267801,2024-03-02,799000.0,Sold Conditional,799000,"Detached, Freehold",2.0,2.0,0.0,800.0,Hamilton
6749,3435 Woodhurst Cres,Erin Mills,-79.688060,43.536190,2024-03-02,1099999.0,For Sale,0,Semi-Detached,3.0,3.0,1.0,1750.0,Mississauga

In [16]:
# Prepare weather data from specified csv
weather_data_oakville = 'Resources/Oakville_Historical_Weather.csv'
selected_columns = ['HEATING_DEGREE_DAYS', 'MIN_TEMPERATURE','LOCAL_DATE', 'STATION_NAME', 'COOLING_DEGREE_DAYS', 'LOCAL_MONTH', 'LOCAL_DAY', 'LOCAL_YEAR', 'TOTAL_PRECIPITATION', 'SNOW_ON_GROUND', 'MEAN_TEMPERATURE', 'TOTAL_SNOW', 'TOTAL_RAIN', 'MAX_TEMPERATURE', 'ID']
df_weather = pd.read_csv(weather_data_oakville, usecols=selected_columns, encoding="ISO-8859-1", on_bad_lines='skip', low_memory=True, engine='python')
df_weather = df_weather.dropna(subset=['MIN_TEMPERATURE'])
df_weather = df_weather.reset_index(drop=True)
columns_to_fill = ['HEATING_DEGREE_DAYS', 'MIN_TEMPERATURE', 'COOLING_DEGREE_DAYS', 
                   'TOTAL_PRECIPITATION', 'SNOW_ON_GROUND', 'MEAN_TEMPERATURE', 
                   'TOTAL_SNOW', 'TOTAL_RAIN', 'MAX_TEMPERATURE']
df_weather[columns_to_fill] = df_weather[columns_to_fill].fillna(0)
df_weather['LOCAL_DATE'] = pd.to_datetime(df_weather['LOCAL_DATE']).dt.date
df_weather.sample(10)

,HEATING_DEGREE_DAYS,MIN_TEMPERATURE,LOCAL_DATE,STATION_NAME,COOLING_DEGREE_DAYS,LOCAL_MONTH,LOCAL_DAY,LOCAL_YEAR,TOTAL_PRECIPITATION,SNOW_ON_GROUND,MEAN_TEMPERATURE,TOTAL_SNOW,TOTAL_RAIN,MAX_TEMPERATURE,ID
2312,1.2,10.0,1996-10-01,OAKVILLE GERARD,0.0,10,1,1996,0.0,0.0,16.8,0.0,0.0,23.5,6155PD4.1996.10.1
2791,18.3,-1.5,1998-01-24,OAKVILLE GERARD,0.0,1,24,1998,0.6,19.0,-0.3,0.4,0.2,1.0,6155PD4.1998.1.24
1096,6.7,2.5,1993-04-20,OAKVILLE GERARD,0.0,4,20,1993,5.6,0.0,11.3,0.0,5.6,20.0,6155PD4.1993.4.20
4735,0.0,16.5,2003-07-11,OAKVILLE GERARD,3.0,7,11,2003,3.4,0.0,21.0,0.0,3.4,25.5,6155PD4.2003.7.11
2148,13.0,-2.0,1996-04-18,OAKVILLE GERARD,0.0,4,18,1996,2.4,0.0,5.0,0.0,2.4,12.0,6155PD4.1996.4.18
3396,5.2,7.5,1999-09-25,OAKVILLE GERARD,0.0,9,25,1999,0.0,0.0,12.8,0.0,0.0,18.0,6155PD4.1999.9.25
2588,1.7,9.0,1997-07-05,OAKVILLE GERARD,0.0,7,5,1997,0.0,0.0,16.3,0.0,0.0,23.5,6155PD4.1997.7.5
5021,0.0,11.4,2004-05-18,OAKVILLE GERARD,0.3,5,18,2004,0.4,0.0,18.3,0.0,0.4,25.2,6155PD4.2004.5.18
2600,0.0,19.0,1997-07-17,OAKVILLE GERARD,8.3,7,17,1997,0.0,0.0,26.3,0.0,0.0,33.5,6155PD4.1997.7.17
3708,2.2,9.5,2000-08-21,OAKVILLE GERARD,0.0,8,21,2000,0.0,0.0,15.8,0.0,0.0,22.0,6155PD4.2000.8.21

In [2]:
from pymongo import MongoClient

# Create connection string
mongo_connection_string = f'mongodb+srv://{mongo_username}:{mongo_password}@cluster0.9gjuly6.mongodb.net/'

# Connect to MongoDB
mongo_client = MongoClient(mongo_connection_string)

# Create DB
mongo_db = mongo_client.properties

# Insert data into separate collections
all_houses_collection = mongo_db.all_houses
weather_collection = mongo_db.weather_data

In [41]:
# Insert data_list into MongoDB
for data in data_list:
    raw_address = data.get('Address')
    if raw_address:
        house_exists = all_houses_collection.find_one({'address': raw_address})

    if house_exists:
        all_houses_collection.update_one(
            {'address': raw_address},
            {
                '$set': {
                    'status': data.get('Status'),
                    'sold_price': float(str(data.get('Sold Price')).replace('$', '').replace(',', '')),
                    'date_listed': datetime.combine(convert_relative_timestamp(data.get('Date of Status')), datetime.min.time())
                }
            }
        )
    else:
        address_parts = raw_address.split(',')
        if len(address_parts) >= 2:
            city = address_parts[1].split(' - ')[0].strip()
            address = address_parts[0]

            price_listed = data.get('Price Listed')
            price = None
            
            if price_listed and price_listed.strip() != '-' and price_listed.strip().replace('$', '').replace(',', '').replace('.', '').isdigit():
                price = float(price_listed.strip().replace('$', '').replace(',', ''))
            
            new_house = {
                'address': address,
                'status': data.get('Status'),
                'latitude': data.get('Latitude'),
                'longitude': data.get('Longitude'),
                'floor_size': data.get('Floor Size'),
                'bedrooms': data.get('Bedrooms'),
                'bathrooms': data.get('Bathrooms'),
                'garage': data.get('Garage'),
                'city': city,
                'type_of_house': data.get('Type of House'),
                'date_listed': datetime.combine(convert_relative_timestamp(data.get('Date of Status')), datetime.min.time()),
                'neighbourhood': data.get('Neighbourhood'),
                'price': price,
                'sold_price': float(str(data.get('Sold Price')).replace('$', '').replace(',', ''))
            }
            

            all_houses_collection.insert_one(new_house)

# Remove records where 'neighbourhood' is None
all_houses_collection.delete_many({"neighbourhood": {"$eq": None}})

In [3]:
# Find duplicate addresses
pipeline = [
    {"$group": {"_id": "$address", "count": {"$sum": 1}}},
    {"$match": {"count": {"$gt": 1}}}
]

duplicate_addresses = list(all_houses_collection.aggregate(pipeline))

for address_info in duplicate_addresses:
    print(f"Address: {address_info['_id']}, Count: {address_info['count']}")

Address: 330 Claremont Cres , Count: 25
Address: 406 - 150 Sabina Dr , Count: 20
Address: 2115 Chippewa Tr , Count: 14
Address: 16 - 4335 Garden St , Count: 29
Address: 506 - 9085 Jane St , Count: 20
Address: 808 - 50 George Butchart Dr , Count: 15
Address: 2902 - 5799 Yonge St , Count: 34
Address: 18 - 540 Dorchester Dr , Count: 15
Address: 559 Ritson Rd S , Count: 12
Address: 2 Royal Collection Way , Count: 2
Address: 2611 - 5168 Yonge St , Count: 33
Address: 221 Acton Ave , Count: 17
Address: 2 - 2228 Upper Middle Rd , Count: 16
Address: 611 Attenborough Terr , Count: 22
Address: 3940 Skyview St , Count: 14
Address: 307 - 840 Queens Plate Dr , Count: 8
Address: 4106 Grandview St N , Count: 7
Address: 81 Woolenscote Circ , Count: 34
Address: 316 - 50 Kitting Trail , Count: 25
Address: 45 Napier St , Count: 27
Address: 101 - 4655 Glen Erin Dr , Count: 66
Address: 1363 Chretien St , Count: 21
Address: 389 River Side Drive , Count: 35
Address: 591 Shaftsbury St , Count: 2
Address: 303 - 2560 Eglinton Ave W , Count: 23
Address: 770 Simcoe St N , Count: 21
Address: 119 GREAT FALLS Boulevard , Count: 9
Address: 3095 Caulfield Cres , Count: 26
Address: 186 Athabasca St , Count: 27
Address: 7 Goodfellow St , Count: 17
Address: 40 Parent Ave , Count: 11
Address: 1603 - 9235 Jane St , Count: 39
Address: 2165 Coldwater St , Count: 26
Address: 111 - 4013 Kilmer Drive , Count: 6
Address: 2715 - 33 Empress Ave , Count: 19
Address: 267 King High Dr , Count: 6
Address: 467 Timber Lane , Count: 33
Address: 784 Shanks Hts , Count: 31
Address: 39 - 470 Beach Boulevard , Count: 31
Address: 1748 Finkle Dr , Count: 34
Address: 35 Peru Rd , Count: 22
Address: 216 - 3500 Lakeshore Rd W , Count: 20
Address: 41 Appalachian Rd , Count: 18
Address: 1566 Farmstead Dr , Count: 66
Address: 27 Blacksmith Cres S , Count: 2
Address: 1071 Springbrook Cres , Count: 34
Address: 2307 - 7 Lorraine Dr W , Count: 21
Address: 604 - 333 Clark Ave , Count: 19
Address: 227 - 65 Speers Rd , Count: 15
Address: 133 Blake Ave , Count: 6
Address: 97 Yorkview Dr , Count: 33
Address: 14054 Danby Rd , Count: 13
Address: 35 Clearview Hts S , Count: 33
Address: 2902 - 5915 Yonge St , Count: 34
Address: 304 - 9589 Keele St , Count: 21
Address: 805 - 5500 Yonge St , Count: 8
Address: 128 Gilley Rd N , Count: 12
Address: 2312 Hoover Crt , Count: 100
Address: 310 - 2388 Khalsa Gate , Count: 4
Address: 1645 Stonehaven Dr , Count: 34
Address: 121 Rebecca Crt , Count: 7
Address: 13 Tynedale Crt , Count: 19
Address: 1280 Minaki Rd , Count: 60
Address: 199 Penn Dr , Count: 18
Address: 743 Law St , Count: 29
Address: 40 Purple Sage Dr , Count: 7
Address: 207 - 100 Arbors Lane , Count: 8
Address: 12 - 1000 Asleton Blvd , Count: 11
Address: 1690 Howat Cres , Count: 14
Address: 77 Education Rd , Count: 7
Address: 1811 Old Waterdown Rd , Count: 13
Address: 102 - 460 Dundas St E , Count: 3
Address: 1803 - 23 Lorraine Dr , Count: 19
Address: 705 - 2263 Marine Dr , Count: 34
Address: 116 Elnathan Cres , Count: 22
Address: 20 MCCARTNEY Street , Count: 34
Address: 1704 - 3390 Weston Road , Count: 22
Address: 66 Lloyd St , Count: 27
Address: 101 - 277 Gatwick Dr , Count: 34
Address: 2017 - 23 Lorraine Ave , Count: 16
Address: 3209 Escada Dr , Count: 11
Address: 17 Sloan Dr , Count: 19
Address: 535 Valley Dr , Count: 2
Address: 86 Langside Ave , Count: 34
Address: 509 - 4655 Metcalfe Ave , Count: 17
Address: 53 Ostrovsky Rd , Count: 27
Address: 204 - 2800 Keele St , Count: 34
Address: 2506 - 80 Antibes Dr , Count: 34
Address: 214 Hampton Heath Rd , Count: 12
Address: 19 Kentmere Grove , Count: 20
Address: 92 Adelaide Ave E , Count: 11
Address: 766 Proctor Rd , Count: 34
Address: 717 Hyland St , Count: 34
Address: 324 - 7608 Yonge St , Count: 21
Address: 809 - 5070 Pinedale Ave , Count: 16
Address: 4 Ahchie Crt , Count: 24
Address: 1297 Beacham Crt , Count: 13
Address: 402 - 9909 Pine Valley Dr , Count: 21
Address: 2249 Mountain Grove Ave , Count: 34
Address: 55 Ahchie Crt , Count: 11
Address: 402 - 100 Millside Dr , Count: 9
Address: 403 - 3600 Highway 7 Rd , Count: 5
Address: 1124 - 15 James Finlay Way , Count: 10
Address: 21 Trailbank Gdns , Count: 27
Address: 292 Vancouver Cres , Count: 2
Address: 3002 - 10 Tangreen Crt , Count: 4
Address: 8522 Sixth Line , Count: 34
Address: 648 Trafford Cres , Count: 13
Address: 70 Haynes Ave , Count: 24
Address: 61 Coral Gable Dr , Count: 19
Address: 80 Regatta Cres , Count: 14
Address: 312 - 2370 Khalsa Gate , Count: 8
Address: 258 Westwood Dr , Count: 31
Address: 710 - 68 Canterbury Pl , Count: 4
Address: 19 Castle Rock Dr , Count: 6
Address: 9 Tight Crt , Count: 33
Address: 397 Watson Ave , Count: 10
Address: 504 - 34 PLAINS Road E , Count: 66
Address: 4 Skyridge Dr , Count: 18
Address: 29 - 6520 Corfu Rd , Count: 4
Address: 2152 - 105 George Appleton Way , Count: 5
Address: 1503 - 120 Eagle Rock Way , Count: 4
Address: 388 Weighton Drive , Count: 29
Address: 95 Canyon Hill Ave , Count: 10
Address: 808 - 2379 Central Park Drive , Count: 66
Address: 16 Oban Ave , Count: 12
Address: 2091 Prestonvale Rd , Count: 12
Address: 805 - 2210 Lakeshore Rd , Count: 9
Address: 511 - 75 Canterbury Pl , Count: 15
Address: 973 Masson St , Count: 20
Address: 5193 Blue Spruce Ave , Count: 13
Address: 5 - 729 Cricklewood Dr , Count: 2
Address: 7 - 155 Glovers Rd , Count: 16
Address: 717 - 75 Canterbury Pl , Count: 23
Address: 1703 - 3700 Highway 7 , Count: 16
Address: 3041 Creekshore Common , Count: 23
Address: 7 - 2375 Truscott Dr , Count: 31
Address: 2193 Melissa Cres , Count: 34
Address: 1217 Bowman Dr , Count: 12
Address: 355 - 3025 The Credit Woodlands Dr , Count: 26
Address: 529 Vale Pl , Count: 33
Address: 157 Hollywood Hill Circ , Count: 33
Address: 1515 - 23 Lorraine Dr , Count: 26
Address: 74 Firgrove Cres , Count: 24
Address: 18 - 2031 Amherst Heights Crt , Count: 5
Address: 5151 Thornburn Dr , Count: 17
Address: 305 - 610 Farmstead Dr , Count: 31
Address: 79 Carpaccio Ave , Count: 47
Address: 254 North Park Blvd , Count: 33
Address: 105 - 5260 Mcfarren Blvd , Count: 35
Address: 607 - 10 De Boers Dr , Count: 29
Address: 1292 Ravencliffe Crt , Count: 25
Address: 23 - 1588 South Parade Crt , Count: 27
Address: 322 - 95 Dundas St , Count: 31
Address: 2094 Elmhurst Avenue , Count: 17
Address: 52 Forest Lane Dr , Count: 7
Address: 167 Olive Ave , Count: 34
Address: 605 FRANCIS Road , Count: 25
Address: 36 - 3200 Dakota Common , Count: 34
Address: 3473 Aquinas Ave , Count: 27
Address: 209 - 430 Pearl St , Count: 74
Address: 3214 Berkshire Lane , Count: 34
Address: 1107 - 520 Steeles Ave W , Count: 19
Address: 809 - 10 Honeycrisp Cres , Count: 5
Address: 1709 Creek Way , Count: 20
Address: 1303 Royal Dr , Count: 34
Address: 273 Morning Star Dr , Count: 12
Address: 4013 Highway 6 , Count: 33
Address: 1076 Skyvalley Cres , Count: 62
Address: 1011 Oshawa Blvd N , Count: 6
Address: 2502 - 2910 Highway 7 Rd W , Count: 3
Address: 60 Roxton Rd , Count: 11
Address: 515 - 100 Eagle Rock Way , Count: 9
Address: 629 Crerar Ave , Count: 34
Address: 1208 - 2565 Erin Centre Blvd , Count: 4
Address: 233 Bennet Dr , Count: 34
Address: 904 Somerville Terr , Count: 66
Address: 3 Flax Field Lane , Count: 26
Address: 17 - 10 Porter Ave W , Count: 29
Address: 34 - 705 Cumberland Ave , Count: 38
Address: 515 - 760 Sheppard Ave W , Count: 21
Address: 804 - 2379 Central Park Dr , Count: 20
Address: 417 Strathcona Dr , Count: 25
Address: 2 - 94 Petra Way , Count: 34
Address: 695 Rambo Cres , Count: 11
Address: 206 - 120 Elgin St W , Count: 19
Address: 1251 Glenridge Crt , Count: 26
Address: 4 - 365 Murray Ross Pkwy , Count: 29
Address: 1252 Hazel Way , Count: 68
Address: 12 - 51 Hays Blvd , Count: 22
Address: 49 Grantbrook St , Count: 17
Address: 223 Epsom Downs Dr , Count: 13
Address: 301 - 1360 Costigan Rd , Count: 23
Address: 19 - 96 Nelson St , Count: 14
Address: 942 COLEMAN Court , Count: 17
Address: 16 Dunsley Way E , Count: 34
Address: 95 - 2891 Rio Crt , Count: 35
Address: 218 - 700 Humberwood Blvd , Count: 8
Address: 623 Robson Road , Count: 18
Address: 706 - 900 Wilson Rd N , Count: 9
Address: 1003 - 2900 Highway 7 , Count: 16
Address: 66 Inglewood Pl , Count: 7
Address: 1704 - 3390 Weston Rd , Count: 23
Address: 102 - 1050 Stainton Dr , Count: 15
Address: 610 - 153 Beecroft Rd , Count: 34
Address: 605 - 605 Francis Rd N , Count: 25
Address: 618 - 3200 Dakota Common , Count: 33
Address: 52 Columbus Rd E , Count: 10
Address: 410 - 4850 Glen Erin Dr , Count: 20
Address: 212 - 2511 Lakeshore Rd W , Count: 9
Address: 40 Blue Willow Dr , Count: 3
Address: 2557 Bandsman Cres , Count: 34
Address: 407 Bonny Meadow Rd , Count: 3
Address: 43 Riverside Blvd , Count: 29
Address: 1360 Kenmark Ave , Count: 2
Address: 3096 Driftwood Dr , Count: 26
Address: 29 Emslie St , Count: 19
Address: 118 Andy Cres , Count: 18
Address: 145 Laura Rd , Count: 35
Address: 6 - 6 Plum Tree Way , Count: 24
Address: 301 - 460 Gordon Krantz Ave , Count: 5
Address: 2415 - 7171 Yonge St S , Count: 22
Address: 23 - 181 Parktree Dr , Count: 18
Address: 832 Monaghan Ave , Count: 10
Address: 1332 Roylen Rd , Count: 66
Address: 3 - 5530 Glen Erin Dr , Count: 34
Address: 1051 Savoline Blvd , Count: 23
Address: 1230 Oakhill Ave , Count: 12
Address: 2352 Rosemary Dr , Count: 10
Address: 404 - 2365 Central Park Dr , Count: 33
Address: 2281 Braeswood Lane , Count: 13
Address: 5292 Dryden Ave , Count: 33
Address: 2021 - 15 Northtown Way , Count: 23
Address: 21 Biddens Sq , Count: 17
Address: 139 Coldspring Rd , Count: 52
Address: 1108 - 330 Red Maple Rd , Count: 25
Address: 191 Garrard Rd , Count: 12
Address: 1 Hartford Crt , Count: 2
Address: 418 Juliana Dr , Count: 34
Address: 503 - 10 Honeycrisp Cres , Count: 25
Address: 141 Annsleywood Crt , Count: 22
Address: 32 Killamarsh Dr , Count: 7
Address: 58 Lofthouse Dr , Count: 34
Address: 25 Swansea St , Count: 18
Address: 3043 Blacktusk Common , Count: 10
Address: 45 Starwood Rd , Count: 18
Address: 102 - 102 Grovewood Common Circ , Count: 9
Address: 229 Eulalie Ave , Count: 25
Address: 28 Strong Ave , Count: 34
Address: 443 Grey Landing , Count: 18
Address: 420 - 2511 Lakeshore Rd W , Count: 14
Address: 2 Elderslie Cres , Count: 11
Address: 1002 - 5080 Pinedale Ave , Count: 33
Address: 344 - 9471 Yonge St , Count: 35
Address: 4 Franca Cres , Count: 34
Address: 35 Porcelain Way , Count: 29
Address: 95 Sanibel Cres , Count: 18
Address: 1585 Kerns Rd , Count: 13
Address: 2506 - 5791 Yonge St , Count: 21
Address: 23 - 5950 Glen Erin Dr , Count: 4
Address: 5 Piedmont Dr , Count: 20
Address: 34 West St , Count: 18
Address: 4243 Bridlepath Tr , Count: 13
Address: 919 - 2737 Keele St N , Count: 3
Address: 917 Nashville Rd , Count: 7
Address: 2337 Charles Cornwall Rd , Count: 27
Address: 90 Senay Circ E , Count: 12
Address: 19 Great Gabe Cres , Count: 35
Address: 96 - 89 Danzatore Path , Count: 8
Address: 303 - 85 North Park Rd , Count: 26
Address: 52 Ahchie Crt , Count: 17
Address: 111 - 4013 Kilmer Dr , Count: 9
Address: 317 - 15 North Park Rd , Count: 25
Address: 1613 - 23 Lorraine Dr , Count: 66
Address: 6 Maxwell St , Count: 17
Address: 7101 Minotola Ave , Count: 33
Address: 516 - 2500 Rutherford Rd , Count: 5
Address: 1323 Ashgrove Cres , Count: 27
Address: 16 Shenstone Rd , Count: 33
Address: 1016 Swiss Hts , Count: 66
Address: 114 Thornway Ave , Count: 6
Address: 1009 - 85 Oneida Cres , Count: 26
Address: 2310 - 131 Beecroft Rd , Count: 24
Address: 3078 Ingleton Lane , Count: 4
Address: 402 - 1 Clark Ave W , Count: 5
Address: 2932 Kingsway Dr , Count: 27
Address: 301 Lakeshore Rd W , Count: 24
Address: 280 Grayling Dr , Count: 8
Address: 1181 Summerwood Hts , Count: 7
Address: 383 Adelaide Ave E , Count: 35
Address: 9 - 2022 Atkinson Dr , Count: 22
Address: 56 - 3500 South Millway , Count: 15
Address: 410 Cavanagh Lane , Count: 8
Address: 409 - 297 Oak Walk Dr , Count: 6
Address: 1112 - 1000 Portage Pkwy , Count: 15
Address: 62 Bestview Cres , Count: 3
Address: 323 - 3500 Lakeshore Rd W , Count: 8
Address: 124 Norwood Crt , Count: 34
Address: 297 Great Falls Blvd , Count: 23
Address: 119 - 710 Spring Gardens Rd , Count: 5
Address: 356 Jane Ave , Count: 31
Address: 1812 - 7171 Yonge St S , Count: 6
Address: 1498 Indian Rd , Count: 35
Address: 73 Sandford Cres , Count: 2
Address: 102 - 2170 Bromsgrove Rd , Count: 33
Address: 88 Ridgefield Cres , Count: 26
Address: 3708 Colonial Dr , Count: 2
Address: 194 Bogert Ave , Count: 10
Address: 413 - 1450 Glen Abbey Gate , Count: 16
Address: 7 Inverary Crt , Count: 17
Address: 3425 Ridgeway Dr , Count: 34
Address: 503 - 5915 Yonge Street Ave , Count: 21
Address: 4061 Donnic Dr , Count: 21
Address: 2240 Springfield Crt , Count: 3
Address: 83 Chelmsford Ave , Count: 10
Address: 403 - 1201 North Shore Blvd , Count: 16
Address: 7028 Cordingley Cres , Count: 24
Address: 1558 Wellwood Terrace , Count: 7
Address: 109 Fontebella Ave , Count: 46

In [7]:
# Remove duplicated addresses that occur
pipeline = [
    {'$group': {
        '_id': {'address': '$address'},
        'duplicates': {'$addToSet': '$_id'},
        'count': {'$sum': 1}
    }},
    {'$match': {
        'count': {'$gt': 1}
    }}
]

cursor = all_houses_collection.aggregate(pipeline)

for group in cursor:
    to_keep = group['duplicates'][0]
    all_houses_collection.delete_many({'_id': {'$in': group['duplicates'][1:]}})
    print(f"Deleted duplicates for address: {group['_id']['address']}")

Deleted duplicates for address: 515 - 760 Sheppard Ave W
Deleted duplicates for address: 5151 Thornburn Dr
Deleted duplicates for address: 254 North Park Blvd
Deleted duplicates for address: 607 - 10 De Boers Dr
Deleted duplicates for address: 1292 Ravencliffe Crt
Deleted duplicates for address: 79 Carpaccio Ave
Deleted duplicates for address: 23 - 1588 South Parade Crt
Deleted duplicates for address: 322 - 95 Dundas St
Deleted duplicates for address: 305 - 610 Farmstead Dr
Deleted duplicates for address: 105 - 5260 Mcfarren Blvd
Deleted duplicates for address: 2094 Elmhurst Avenue
Deleted duplicates for address: 52 Forest Lane Dr
Deleted duplicates for address: 36 - 3200 Dakota Common
Deleted duplicates for address: 209 - 430 Pearl St
Deleted duplicates for address: 3473 Aquinas Ave
Deleted duplicates for address: 167 Olive Ave
Deleted duplicates for address: 3214 Berkshire Lane
Deleted duplicates for address: 1107 - 520 Steeles Ave W
Deleted duplicates for address: 605 FRANCIS Road
Deleted duplicates for address: 973 Masson St
Deleted duplicates for address: 7 - 155 Glovers Rd
Deleted duplicates for address: 5193 Blue Spruce Ave
Deleted duplicates for address: 5 - 729 Cricklewood Dr
Deleted duplicates for address: 717 - 75 Canterbury Pl
Deleted duplicates for address: 3041 Creekshore Common
Deleted duplicates for address: 1703 - 3700 Highway 7
Deleted duplicates for address: 1217 Bowman Dr
Deleted duplicates for address: 2193 Melissa Cres
Deleted duplicates for address: 7 - 2375 Truscott Dr
Deleted duplicates for address: 355 - 3025 The Credit Woodlands Dr
Deleted duplicates for address: 529 Vale Pl
Deleted duplicates for address: 74 Firgrove Cres
Deleted duplicates for address: 1515 - 23 Lorraine Dr
Deleted duplicates for address: 157 Hollywood Hill Circ
Deleted duplicates for address: 648 Trafford Cres
Deleted duplicates for address: 8522 Sixth Line
Deleted duplicates for address: 18 - 2031 Amherst Heights Crt
Deleted duplicates for address: 710 - 68 Canterbury Pl
Deleted duplicates for address: 312 - 2370 Khalsa Gate
Deleted duplicates for address: 61 Coral Gable Dr
Deleted duplicates for address: 70 Haynes Ave
Deleted duplicates for address: 9 Tight Crt
Deleted duplicates for address: 80 Regatta Cres
Deleted duplicates for address: 397 Watson Ave
Deleted duplicates for address: 258 Westwood Dr
Deleted duplicates for address: 19 Castle Rock Dr
Deleted duplicates for address: 29 - 6520 Corfu Rd
Deleted duplicates for address: 504 - 34 PLAINS Road E
Deleted duplicates for address: 4 Skyridge Dr
Deleted duplicates for address: 1503 - 120 Eagle Rock Way
Deleted duplicates for address: 388 Weighton Drive
Deleted duplicates for address: 2152 - 105 George Appleton Way
Deleted duplicates for address: 16 Oban Ave
Deleted duplicates for address: 808 - 2379 Central Park Drive
Deleted duplicates for address: 95 Canyon Hill Ave
Deleted duplicates for address: 805 - 2210 Lakeshore Rd
Deleted duplicates for address: 511 - 75 Canterbury Pl
Deleted duplicates for address: 2091 Prestonvale Rd
Deleted duplicates for address: 509 - 4655 Metcalfe Ave
Deleted duplicates for address: 86 Langside Ave
Deleted duplicates for address: 2506 - 80 Antibes Dr
Deleted duplicates for address: 204 - 2800 Keele St
Deleted duplicates for address: 402 - 100 Millside Dr
Deleted duplicates for address: 53 Ostrovsky Rd
Deleted duplicates for address: 766 Proctor Rd
Deleted duplicates for address: 717 Hyland St
Deleted duplicates for address: 19 Kentmere Grove
Deleted duplicates for address: 809 - 5070 Pinedale Ave
Deleted duplicates for address: 4 Ahchie Crt
Deleted duplicates for address: 1297 Beacham Crt
Deleted duplicates for address: 324 - 7608 Yonge St
Deleted duplicates for address: 214 Hampton Heath Rd
Deleted duplicates for address: 92 Adelaide Ave E
Deleted duplicates for address: 2249 Mountain Grove Ave
Deleted duplicates for address: 402 - 9909 Pine Valley Dr
Deleted duplicates for address: 55 Ahchie Crt
Deleted duplicates for address: 21 Trailbank Gdns
Deleted duplicates for address: 1124 - 15 James Finlay Way
Deleted duplicates for address: 403 - 3600 Highway 7 Rd
Deleted duplicates for address: 292 Vancouver Cres
Deleted duplicates for address: 3002 - 10 Tangreen Crt
Deleted duplicates for address: 743 Law St
Deleted duplicates for address: 199 Penn Dr
Deleted duplicates for address: 1280 Minaki Rd
Deleted duplicates for address: 40 Purple Sage Dr
Deleted duplicates for address: 1690 Howat Cres
Deleted duplicates for address: 12 - 1000 Asleton Blvd
Deleted duplicates for address: 207 - 100 Arbors Lane
Deleted duplicates for address: 1811 Old Waterdown Rd
Deleted duplicates for address: 77 Education Rd
Deleted duplicates for address: 102 - 460 Dundas St E
Deleted duplicates for address: 705 - 2263 Marine Dr
Deleted duplicates for address: 116 Elnathan Cres
Deleted duplicates for address: 1803 - 23 Lorraine Dr
Deleted duplicates for address: 66 Lloyd St
Deleted duplicates for address: 1704 - 3390 Weston Road
Deleted duplicates for address: 20 MCCARTNEY Street
Deleted duplicates for address: 2017 - 23 Lorraine Ave
Deleted duplicates for address: 17 Sloan Dr
Deleted duplicates for address: 535 Valley Dr
Deleted duplicates for address: 3209 Escada Dr
Deleted duplicates for address: 101 - 277 Gatwick Dr
Deleted duplicates for address: 1566 Farmstead Dr
Deleted duplicates for address: 1071 Springbrook Cres
Deleted duplicates for address: 2307 - 7 Lorraine Dr W
Deleted duplicates for address: 227 - 65 Speers Rd
Deleted duplicates for address: 604 - 333 Clark Ave
Deleted duplicates for address: 133 Blake Ave
Deleted duplicates for address: 14054 Danby Rd
Deleted duplicates for address: 97 Yorkview Dr
Deleted duplicates for address: 310 - 2388 Khalsa Gate
Deleted duplicates for address: 2902 - 5915 Yonge St
Deleted duplicates for address: 35 Clearview Hts S
Deleted duplicates for address: 304 - 9589 Keele St
Deleted duplicates for address: 805 - 5500 Yonge St
Deleted duplicates for address: 2312 Hoover Crt
Deleted duplicates for address: 128 Gilley Rd N
Deleted duplicates for address: 13 Tynedale Crt
Deleted duplicates for address: 121 Rebecca Crt
Deleted duplicates for address: 1645 Stonehaven Dr
Deleted duplicates for address: 389 River Side Drive
Deleted duplicates for address: 1363 Chretien St
Deleted duplicates for address: 101 - 4655 Glen Erin Dr
Deleted duplicates for address: 303 - 2560 Eglinton Ave W
Deleted duplicates for address: 770 Simcoe St N
Deleted duplicates for address: 591 Shaftsbury St
Deleted duplicates for address: 186 Athabasca St
Deleted duplicates for address: 3095 Caulfield Cres
Deleted duplicates for address: 7 Goodfellow St
Deleted duplicates for address: 119 GREAT FALLS Boulevard
Deleted duplicates for address: 1603 - 9235 Jane St
Deleted duplicates for address: 40 Parent Ave
Deleted duplicates for address: 111 - 4013 Kilmer Drive
Deleted duplicates for address: 2165 Coldwater St
Deleted duplicates for address: 267 King High Dr
Deleted duplicates for address: 2715 - 33 Empress Ave
Deleted duplicates for address: 27 Blacksmith Cres S
Deleted duplicates for address: 467 Timber Lane
Deleted duplicates for address: 784 Shanks Hts
Deleted duplicates for address: 41 Appalachian Rd
Deleted duplicates for address: 35 Peru Rd
Deleted duplicates for address: 1748 Finkle Dr
Deleted duplicates for address: 39 - 470 Beach Boulevard
Deleted duplicates for address: 216 - 3500 Lakeshore Rd W
Deleted duplicates for address: 406 - 150 Sabina Dr
Deleted duplicates for address: 330 Claremont Cres
Deleted duplicates for address: 808 - 50 George Butchart Dr
Deleted duplicates for address: 2115 Chippewa Tr
Deleted duplicates for address: 16 - 4335 Garden St
Deleted duplicates for address: 506 - 9085 Jane St
Deleted duplicates for address: 18 - 540 Dorchester Dr
Deleted duplicates for address: 559 Ritson Rd S
Deleted duplicates for address: 2 Royal Collection Way
Deleted duplicates for address: 2902 - 5799 Yonge St
Deleted duplicates for address: 221 Acton Ave
Deleted duplicates for address: 2611 - 5168 Yonge St
Deleted duplicates for address: 2 - 2228 Upper Middle Rd
Deleted duplicates for address: 3940 Skyview St
Deleted duplicates for address: 307 - 840 Queens Plate Dr
Deleted duplicates for address: 611 Attenborough Terr
Deleted duplicates for address: 316 - 50 Kitting Trail
Deleted duplicates for address: 81 Woolenscote Circ
Deleted duplicates for address: 4106 Grandview St N
Deleted duplicates for address: 45 Napier St
Deleted duplicates for address: 3708 Colonial Dr
Deleted duplicates for address: 102 - 2170 Bromsgrove Rd
Deleted duplicates for address: 88 Ridgefield Cres
Deleted duplicates for address: 73 Sandford Cres
Deleted duplicates for address: 194 Bogert Ave
Deleted duplicates for address: 3425 Ridgeway Dr
Deleted duplicates for address: 4061 Donnic Dr
Deleted duplicates for address: 7 Inverary Crt
Deleted duplicates for address: 413 - 1450 Glen Abbey Gate
Deleted duplicates for address: 2240 Springfield Crt
Deleted duplicates for address: 503 - 5915 Yonge Street Ave
Deleted duplicates for address: 83 Chelmsford Ave
Deleted duplicates for address: 1558 Wellwood Terrace
Deleted duplicates for address: 403 - 1201 North Shore Blvd
Deleted duplicates for address: 7028 Cordingley Cres
Deleted duplicates for address: 109 Fontebella Ave
Deleted duplicates for address: 280 Grayling Dr
Deleted duplicates for address: 2932 Kingsway Dr
Deleted duplicates for address: 301 Lakeshore Rd W
Deleted duplicates for address: 56 - 3500 South Millway
Deleted duplicates for address: 9 - 2022 Atkinson Dr
Deleted duplicates for address: 383 Adelaide Ave E
Deleted duplicates for address: 1181 Summerwood Hts
Deleted duplicates for address: 409 - 297 Oak Walk Dr
Deleted duplicates for address: 1112 - 1000 Portage Pkwy
Deleted duplicates for address: 402 - 1 Clark Ave W
Deleted duplicates for address: 410 Cavanagh Lane
Deleted duplicates for address: 323 - 3500 Lakeshore Rd W
Deleted duplicates for address: 124 Norwood Crt
Deleted duplicates for address: 356 Jane Ave
Deleted duplicates for address: 1812 - 7171 Yonge St S
Deleted duplicates for address: 119 - 710 Spring Gardens Rd
Deleted duplicates for address: 297 Great Falls Blvd
Deleted duplicates for address: 1498 Indian Rd
Deleted duplicates for address: 111 - 4013 Kilmer Dr
Deleted duplicates for address: 303 - 85 North Park Rd
Deleted duplicates for address: 52 Ahchie Crt
Deleted duplicates for address: 96 - 89 Danzatore Path
Deleted duplicates for address: 317 - 15 North Park Rd
Deleted duplicates for address: 1613 - 23 Lorraine Dr
Deleted duplicates for address: 7101 Minotola Ave
Deleted duplicates for address: 6 Maxwell St
Deleted duplicates for address: 516 - 2500 Rutherford Rd
Deleted duplicates for address: 1323 Ashgrove Cres
Deleted duplicates for address: 16 Shenstone Rd
Deleted duplicates for address: 1016 Swiss Hts
Deleted duplicates for address: 114 Thornway Ave
Deleted duplicates for address: 3078 Ingleton Lane
Deleted duplicates for address: 1009 - 85 Oneida Cres
Deleted duplicates for address: 2310 - 131 Beecroft Rd
Deleted duplicates for address: 62 Bestview Cres
Deleted duplicates for address: 28 Strong Ave
Deleted duplicates for address: 443 Grey Landing
Deleted duplicates for address: 229 Eulalie Ave
Deleted duplicates for address: 420 - 2511 Lakeshore Rd W
Deleted duplicates for address: 2 Elderslie Cres
Deleted duplicates for address: 4 Franca Cres
Deleted duplicates for address: 344 - 9471 Yonge St
Deleted duplicates for address: 1002 - 5080 Pinedale Ave
Deleted duplicates for address: 35 Porcelain Way
Deleted duplicates for address: 2506 - 5791 Yonge St
Deleted duplicates for address: 1585 Kerns Rd
Deleted duplicates for address: 95 Sanibel Cres
Deleted duplicates for address: 23 - 5950 Glen Erin Dr
Deleted duplicates for address: 4243 Bridlepath Tr
Deleted duplicates for address: 5 Piedmont Dr
Deleted duplicates for address: 2337 Charles Cornwall Rd
Deleted duplicates for address: 34 West St
Deleted duplicates for address: 919 - 2737 Keele St N
Deleted duplicates for address: 917 Nashville Rd
Deleted duplicates for address: 19 Great Gabe Cres
Deleted duplicates for address: 90 Senay Circ E
Deleted duplicates for address: 3 - 5530 Glen Erin Dr
Deleted duplicates for address: 1332 Roylen Rd
Deleted duplicates for address: 1051 Savoline Blvd
Deleted duplicates for address: 1230 Oakhill Ave
Deleted duplicates for address: 404 - 2365 Central Park Dr
Deleted duplicates for address: 2281 Braeswood Lane
Deleted duplicates for address: 2352 Rosemary Dr
Deleted duplicates for address: 5292 Dryden Ave
Deleted duplicates for address: 2021 - 15 Northtown Way
Deleted duplicates for address: 1108 - 330 Red Maple Rd
Deleted duplicates for address: 139 Coldspring Rd
Deleted duplicates for address: 191 Garrard Rd
Deleted duplicates for address: 21 Biddens Sq
Deleted duplicates for address: 418 Juliana Dr
Deleted duplicates for address: 1 Hartford Crt
Deleted duplicates for address: 503 - 10 Honeycrisp Cres
Deleted duplicates for address: 141 Annsleywood Crt
Deleted duplicates for address: 45 Starwood Rd
Deleted duplicates for address: 25 Swansea St
Deleted duplicates for address: 58 Lofthouse Dr
Deleted duplicates for address: 3043 Blacktusk Common
Deleted duplicates for address: 32 Killamarsh Dr
Deleted duplicates for address: 102 - 102 Grovewood Common Circ
Deleted duplicates for address: 1704 - 3390 Weston Rd
Deleted duplicates for address: 66 Inglewood Pl
Deleted duplicates for address: 618 - 3200 Dakota Common
Deleted duplicates for address: 605 - 605 Francis Rd N
Deleted duplicates for address: 407 Bonny Meadow Rd
Deleted duplicates for address: 102 - 1050 Stainton Dr
Deleted duplicates for address: 610 - 153 Beecroft Rd
Deleted duplicates for address: 212 - 2511 Lakeshore Rd W
Deleted duplicates for address: 410 - 4850 Glen Erin Dr
Deleted duplicates for address: 52 Columbus Rd E
Deleted duplicates for address: 40 Blue Willow Dr
Deleted duplicates for address: 43 Riverside Blvd
Deleted duplicates for address: 1360 Kenmark Ave
Deleted duplicates for address: 2557 Bandsman Cres
Deleted duplicates for address: 29 Emslie St
Deleted duplicates for address: 3096 Driftwood Dr
Deleted duplicates for address: 118 Andy Cres
Deleted duplicates for address: 6 - 6 Plum Tree Way
Deleted duplicates for address: 301 - 460 Gordon Krantz Ave
Deleted duplicates for address: 145 Laura Rd
Deleted duplicates for address: 23 - 181 Parktree Dr
Deleted duplicates for address: 2415 - 7171 Yonge St S
Deleted duplicates for address: 832 Monaghan Ave
Deleted duplicates for address: 206 - 120 Elgin St W
Deleted duplicates for address: 695 Rambo Cres
Deleted duplicates for address: 4 - 365 Murray Ross Pkwy
Deleted duplicates for address: 1251 Glenridge Crt
Deleted duplicates for address: 12 - 51 Hays Blvd
Deleted duplicates for address: 1252 Hazel Way
Deleted duplicates for address: 49 Grantbrook St
Deleted duplicates for address: 223 Epsom Downs Dr
Deleted duplicates for address: 16 Dunsley Way E
Deleted duplicates for address: 942 COLEMAN Court
Deleted duplicates for address: 301 - 1360 Costigan Rd
Deleted duplicates for address: 19 - 96 Nelson St
Deleted duplicates for address: 623 Robson Road
Deleted duplicates for address: 706 - 900 Wilson Rd N
Deleted duplicates for address: 95 - 2891 Rio Crt
Deleted duplicates for address: 218 - 700 Humberwood Blvd
Deleted duplicates for address: 1003 - 2900 Highway 7
Deleted duplicates for address: 809 - 10 Honeycrisp Cres
Deleted duplicates for address: 1303 Royal Dr
Deleted duplicates for address: 1709 Creek Way
Deleted duplicates for address: 4013 Highway 6
Deleted duplicates for address: 1076 Skyvalley Cres
Deleted duplicates for address: 273 Morning Star Dr
Deleted duplicates for address: 1011 Oshawa Blvd N
Deleted duplicates for address: 60 Roxton Rd
Deleted duplicates for address: 2502 - 2910 Highway 7 Rd W
Deleted duplicates for address: 629 Crerar Ave
Deleted duplicates for address: 515 - 100 Eagle Rock Way
Deleted duplicates for address: 1208 - 2565 Erin Centre Blvd
Deleted duplicates for address: 233 Bennet Dr
Deleted duplicates for address: 34 - 705 Cumberland Ave
Deleted duplicates for address: 17 - 10 Porter Ave W
Deleted duplicates for address: 804 - 2379 Central Park Dr
Deleted duplicates for address: 904 Somerville Terr
Deleted duplicates for address: 2 - 94 Petra Way
Deleted duplicates for address: 3 Flax Field Lane
Deleted duplicates for address: 417 Strathcona Dr

In [8]:
cursor = all_houses_collection.find().limit(10)
for document in cursor:
    print(document)

{'_id': ObjectId('65e3e8514625ce6cbae3942a'), 'address': '167 Olive Ave ', 'status': 'Sold Conditional', 'latitude': -78.85339, 'longitude': 43.88987, 'floor_size': 831, 'bedrooms': 1, 'bathrooms': 1, 'garage': 0, 'city': 'Oshawa', 'type_of_house': 'Freehold Townhouse', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Central', 'price': 319900.0, 'sold_price': 319900.0}
{'_id': ObjectId('65e3e8514625ce6cbae3942c'), 'address': '233 Bennet Dr ', 'status': 'Sold', 'latitude': -79.51915, 'longitude': 43.928, 'floor_size': 1444, 'bedrooms': 3, 'bathrooms': 2, 'garage': 1, 'city': 'King', 'type_of_house': 'Detached', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'King City', 'price': 1750000.0, 'sold_price': 1691000.0}
{'_id': ObjectId('65e3e8514625ce6cbae3942d'), 'address': '124 Norwood Crt ', 'status': 'Sold', 'latitude': -78.82709, 'longitude': 43.90868, 'floor_size': 1399, 'bedrooms': 3, 'bathrooms': 2, 'garage': 1, 'city': 'Oshawa', 'type_of_house': 'Detached', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Eastdale', 'price': 780000.0, 'sold_price': 802000.0}
{'_id': ObjectId('65e3e8524625ce6cbae3942f'), 'address': '629 Crerar Ave ', 'status': 'Sold', 'latitude': -78.83612, 'longitude': 43.89229, 'floor_size': 1284, 'bedrooms': 3, 'bathrooms': 2, 'garage': 0, 'city': 'Oshawa', 'type_of_house': 'Detached', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Donevan', 'price': 675000.0, 'sold_price': 777000.0}
{'_id': ObjectId('65e3e8534625ce6cbae39438'), 'address': '610 - 153 Beecroft Rd ', 'status': 'Sold Conditional', 'latitude': -79.41436, 'longitude': 43.76526, 'floor_size': 749, 'bedrooms': 2, 'bathrooms': 1, 'garage': 1, 'city': 'North York', 'type_of_house': 'Condo Apt', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Lansing-Westgate', 'price': 675000.0, 'sold_price': 675000.0}
{'_id': ObjectId('65e3e8564625ce6cbae39443'), 'address': '1252 Hazel Way ', 'status': 'For Sale', 'latitude': -79.8365355, 'longitude': 43.5006042, 'floor_size': 1750, 'bedrooms': 4, 'bathrooms': 3, 'garage': 1, 'city': 'Milton', 'type_of_house': 'Freehold Townhouse', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Cobban', 'price': 1069900.0, 'sold_price': 0.0}
{'_id': ObjectId('65e3e85d4625ce6cbae3946a'), 'address': '1613 - 23 Lorraine Dr ', 'status': 'Terminated', 'latitude': -79.41667, 'longitude': 43.77806, 'floor_size': 849, 'bedrooms': 1, 'bathrooms': 2, 'garage': 1, 'city': 'North York', 'type_of_house': 'Condo Apt', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Willowdale West', 'price': 699000.0, 'sold_price': 0.0}
{'_id': ObjectId('65e3e85e4625ce6cbae3946d'), 'address': '1566 Farmstead Dr ', 'status': 'For Sale', 'latitude': -79.83917, 'longitude': 43.48461, 'floor_size': None, 'bedrooms': 4, 'bathrooms': 4, 'garage': 2, 'city': 'Milton', 'type_of_house': 'Freehold Townhouse', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Ford', 'price': 969900.0, 'sold_price': 0.0}
{'_id': ObjectId('65e3e8734625ce6cbae394d5'), 'address': '86 Langside Ave ', 'status': 'Sold', 'latitude': -79.51935, 'longitude': 43.71253, 'floor_size': 1630, 'bedrooms': 3, 'bathrooms': 3, 'garage': 2, 'city': 'North York', 'type_of_house': 'Detached', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Humberlea-Pelmo Park W4', 'price': 1099000.0, 'sold_price': 1450000.0}
{'_id': ObjectId('65e3e8734625ce6cbae394d7'), 'address': '16 Dunsley Way E ', 'status': 'Sold', 'latitude': -78.92526, 'longitude': 43.88482, 'floor_size': 1300, 'bedrooms': 3, 'bathrooms': 3, 'garage': 1, 'city': 'Whitby', 'type_of_house': 'Freehold Townhouse', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Pringle Creek', 'price': 759999.0, 'sold_price': 755000.0}

In [15]:
# Insert weather into MongoDB
for index, row in df_weather.iterrows():
    weather_data_instance = {
        'id': row['ID'],
        'heating_degree_days': row['HEATING_DEGREE_DAYS'],
        'min_temperature': row['MIN_TEMPERATURE'],
        'local_date': datetime.combine(row['LOCAL_DATE'], datetime.min.time()),
        'station_name': row['STATION_NAME'],
        'cooling_degree_days': row['COOLING_DEGREE_DAYS'],
        'local_month': row['LOCAL_MONTH'],
        'local_day': row['LOCAL_DAY'],
        'local_year': row['LOCAL_YEAR'],
        'total_precipitation': row['TOTAL_PRECIPITATION'],
        'snow_on_ground': row['SNOW_ON_GROUND'],
        'mean_temperature': row['MEAN_TEMPERATURE'],
        'total_snow': row['TOTAL_SNOW'],
        'total_rain': row['TOTAL_RAIN'],
        'max_temperature': row['MAX_TEMPERATURE']
    }

    weather_collection.insert_one(weather_data_instance)

In [9]:
# Get number of records for each collection
weather_count = mongo_db.weather_data.count_documents({})
all_houses_count = mongo_db.all_houses.count_documents({})

# Print the counts
print("Number of records in Weather Data collection:", weather_count)
print("Number of records in All Houses collection:", all_houses_count)

Number of records in Weather Data collection: 23576
Number of records in All Houses collection: 327

In [17]:
# Close MongoDB connection
mongo_client.close()

In [18]:
# Close browser
browser.quit()