In [1]:
%run api_keys.py
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from datetime import datetime, timedelta
import json
import re
import numpy as np
import time
from api_keys import email, passw, mongo_username, mongo_password #Please add to .gitnore file your own individual usernames and passwords. Also set up your account on the website with a watched area of your desire.
import pymongo

In [2]:
# Go to website
browser = Browser('chrome')
url = "https://housesigma.com/listings/watched-area-and-community"
browser.visit(url)
html = browser.html
soup_obj = soup(html, 'html.parser')

In [3]:
# Assign variables and Login
browser.execute_script('document.querySelector(".app-btn.round.regular.pressed-down.btn").click();')

In [4]:
email_input = WebDriverWait(browser.driver, 10).until(
    EC.element_to_be_clickable((By.CSS_SELECTOR, '.form-input.medium.clear.input input[type="email"]'))
)
email = email
passw = passw
login = email
email_input.send_keys(login)

In [5]:
password_input = WebDriverWait(browser.driver, 10).until(
    EC.element_to_be_clickable((By.CSS_SELECTOR, '.form-input.medium.clear.input input[type="password"]'))
)
password = passw 
password_input.send_keys(password)

In [6]:
button = browser.find_by_css('.app-btn.hs_btn_login_submit_email').first
button.click()

In [7]:
browser.is_element_present_by_css('.pc-listing-card', wait_time=10)
html = browser.html

In [12]:
import time

data_list = []

num_scrolls = 30

for _ in range(num_scrolls):

    browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    

    time.sleep(5)
    
    html = browser.html
    soup_obj = soup(html, 'html.parser')
    
    articles = soup_obj.find_all('article', class_='pc-listing-card')

    for article in articles:
        data = {}

        address_element = article.find('h3', class_='address')
        address_text = address_element.text.strip() if address_element else None
    
        # Address and Neighbourhood
        if address_text and '-' in address_text:
            address_parts = address_text.split('-')
    
            data['Address'] = address_parts[0].strip()
            data['Neighbourhood'] = address_parts[1].strip() if len(address_parts) > 1 else None
        else:
            data['Address'] = address_text
            data['Neighbourhood'] = None

        json_scripts = article.find_all('script', class_='hs-script-home-struct', type='application/ld+json')


        for script in json_scripts:
            json_data = script.string
            if json_data:
                json_dict = json.loads(json_data)
            
            # Long and Lat and floor size
                if 'floorSize' in json_dict:
                    data['Floor Size'] = json_dict['floorSize']['value']
                if 'geo' in json_dict:
                    data['Latitude'] = json_dict['geo']['latitude']
                    data['Longitude'] = json_dict['geo']['longitude']

    # Date 
        date_preview_element = article.find('div', class_='date-preview')
        data['Date of Status'] = date_preview_element.text.strip() if date_preview_element else None

    # Price
        highlight_element = article.find('span', class_='highlight')
        line_through_element = article.find('span', class_='line-through')

        if highlight_element:
            data['Price Listed'] = highlight_element.text.strip()
        elif line_through_element:
            data['Price Listed'] = line_through_element.text.strip()
        else:
            data['Price Listed'] = None
   
    # Status
        status_element = article.select_one('div[class^="status-type"]')
        data['Status'] = status_element.text.strip() if status_element else None

    # Sold Price (if status is "Sold" or "Sold Conditional")
        if data['Status'] in ["Sold", "Sold Conditional"]:
            sold_price_element_special = article.select_one('div.price-area span.special')
            sold_price_element_highlight_special = article.select_one('div.price-area span.highlight.special')

            if sold_price_element_special:
                data['Sold Price'] = sold_price_element_special.text.strip()
            elif sold_price_element_highlight_special:
                data['Sold Price'] = sold_price_element_highlight_special.text.strip()
            else:
                data['Sold Price'] = None
        else:
            data['Sold Price'] = 0
    
    # Type of house
        type_element = article.find('p', class_='type')
        data['Type of House'] = type_element.text.strip() if type_element else None

        p_elements = article.find_all('p')
        for p in p_elements:
            text = p.get_text()

        # Bathroom
            if re.search(r'\b(?:bathroom)\b', text):
                bathroom_info = re.findall(r'\d+', text)
                if bathroom_info:
                    data['Bathrooms'] = int(bathroom_info[0])

        # Bedroom
            if re.search(r'\b(?:bedroom)\b', text):
                bedroom_info = re.findall(r'\d+', text)
                if bedroom_info:
                    data['Bedrooms'] = int(bedroom_info[0])
        
        # Garage
            if re.search(r'\b(?:garage)\b', text):
                garage_info = re.findall(r'\d+', text)
                if garage_info:
                    data['Garage'] = int(garage_info[0]) 
                
        data_list.append(data)


    time.sleep(5)


for i, data in enumerate(data_list, 1):
    print(f"{i}: {data}")

1: {'Address': '145 Laura Rd , North York', 'Neighbourhood': 'Glenfield', 'Latitude': -79.5215, 'Longitude': 43.74385, 'Date of Status': '49 minutes ago', 'Price Listed': '$1,108,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Semi-Detached', 'Bedrooms': 4, 'Bathrooms': 3, 'Garage': 0}
2: {'Address': '1566 Farmstead Dr , Milton', 'Neighbourhood': 'Ford', 'Latitude': -79.83917, 'Longitude': 43.48461, 'Date of Status': '49 minutes ago', 'Price Listed': '$969,900', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Freehold Townhouse', 'Bedrooms': 4, 'Bathrooms': 4, 'Garage': 2}
3: {'Address': '1498 Indian Rd , Mississauga', 'Neighbourhood': 'Lorne Park', 'Floor Size': 1750, 'Latitude': -79.63339, 'Longitude': 43.5354, 'Date of Status': '49 minutes ago', 'Price Listed': '$1,999,900', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 3, 'Garage': 2}
4: {'Address': '383 Adelaide Ave E , Oshawa', 'Neighbourhood': "O'Neill", 'Floor Size': 1300, 'Latitude': -78.85247, 'Longitude': 43.90724, 'Date of Status': '49 minutes ago', 'Price Listed': '$849,898', 'Status': 'Sold Conditional', 'Sold Price': '$849,898', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 1}
5: {'Address': '19 Great Gabe Cres , Oshawa', 'Neighbourhood': 'Windfields', 'Floor Size': 1256, 'Latitude': -78.89882, 'Longitude': 43.95838, 'Date of Status': '49 minutes ago', 'Price Listed': '$599,900', 'Status': 'Sold', 'Sold Price': '$700,000', 'Type of House': 'Freehold Townhouse', 'Bedrooms': 2, 'Bathrooms': 2, 'Garage': 1}
6: {'Address': '389 River Side Drive , Oakville', 'Neighbourhood': 'Old Oakville', 'Floor Size': 2039, 'Latitude': -79.680355, 'Longitude': 43.451558, 'Date of Status': '53 minutes ago', 'Price Listed': '$2,249,000', 'Status': 'Sold', 'Sold Price': '$2,150,000', 'Type of House': 'Single Family Residence', 'Bedrooms': 4, 'Bathrooms': 4, 'Garage': 1}
7: {'Address': '95', 'Neighbourhood': '2891 Rio Crt , Mississauga', 'Floor Size': 1099, 'Latitude': -79.71941, 'Longitude': 43.55281, 'Date of Status': '1 hour ago', 'Price Listed': '$820,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Townhouse', 'Bedrooms': 2, 'Bathrooms': 2, 'Garage': 0}
8: {'Address': '105', 'Neighbourhood': '5260 Mcfarren Blvd , Mississauga', 'Floor Size': 1299, 'Latitude': -79.71701, 'Longitude': 43.56922, 'Date of Status': '1 hour ago', 'Price Listed': '$899,888', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Townhouse', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 1}
9: {'Address': '344', 'Neighbourhood': '9471 Yonge St , Richmond Hill', 'Floor Size': 749, 'Latitude': -79.43365, 'Longitude': 43.85823, 'Date of Status': '1 hour ago', 'Price Listed': '$648,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 1, 'Bathrooms': 2, 'Garage': 1}
10: {'Address': '3', 'Neighbourhood': '5530 Glen Erin Dr , Mississauga', 'Floor Size': 1499, 'Latitude': -79.72654, 'Longitude': 43.56415, 'Date of Status': '1 hour ago', 'Price Listed': '$965,000', 'Status': 'Terminated', 'Sold Price': 0, 'Type of House': 'Condo Townhouse', 'Bedrooms': 3, 'Bathrooms': 3, 'Garage': 1}
11: {'Address': '1748 Finkle Dr , Oshawa', 'Neighbourhood': 'Taunton', 'Floor Size': 3250, 'Latitude': -78.83784, 'Longitude': 43.95251, 'Date of Status': '1 hour ago', 'Price Listed': '$1,399,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 4, 'Garage': 2}
12: {'Address': '28 Strong Ave , Vaughan', 'Neighbourhood': 'Patterson', 'Floor Size': 4250, 'Latitude': -79.4686, 'Longitude': 43.86999, 'Date of Status': '1 hour ago', 'Price Listed': '$2,430,000', 'Status': 'Sold Conditional', 'Sold Price': '$2,430,000', 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 5, 'Garage': 2}
13: {'Address': '418 Juliana Dr , Oshawa', 'Neighbourhood': "O'Neill", 'Floor Size': 1902, 'Latitude': -78.85246, 'Longitude': 43.90996, 'Date of Status': '1 hour ago', 'Price Listed': '$1,065,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 3, 'Garage': 1}
14: {'Address': '167 Olive Ave , Oshawa', 'Neighbourhood': 'Central', 'Floor Size': 831, 'Latitude': -78.85339, 'Longitude': 43.88987, 'Date of Status': '1 hour ago', 'Price Listed': '$319,900', 'Status': 'Sold Conditional', 'Sold Price': '$319,900', 'Type of House': 'Freehold Townhouse', 'Bedrooms': 1, 'Bathrooms': 1, 'Garage': 0}
15: {'Address': '58 Lofthouse Dr , Whitby', 'Neighbourhood': 'Rolling Acres', 'Floor Size': 3250, 'Latitude': -78.92657, 'Longitude': 43.91215, 'Date of Status': '1 hour ago', 'Price Listed': '$1,529,900', 'Status': 'Sold', 'Sold Price': '$1,580,000', 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 4, 'Garage': 2}
16: {'Address': '233 Bennet Dr , King', 'Neighbourhood': 'King City', 'Floor Size': 1444, 'Latitude': -79.51915, 'Longitude': 43.928, 'Date of Status': '1 hour ago', 'Price Listed': '$1,750,000', 'Status': 'Sold', 'Sold Price': '$1,691,000', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 1}
17: {'Address': '124 Norwood Crt , Oshawa', 'Neighbourhood': 'Eastdale', 'Floor Size': 1399, 'Latitude': -78.82709, 'Longitude': 43.90868, 'Date of Status': '1 hour ago', 'Price Listed': '$780,000', 'Status': 'Sold', 'Sold Price': '$802,000', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 1}
18: {'Address': '86 Langside Ave , North York', 'Neighbourhood': 'Humberlea', 'Floor Size': 1630, 'Latitude': -79.51935, 'Longitude': 43.71253, 'Date of Status': '1 hour ago', 'Price Listed': '$1,099,000', 'Status': 'Sold', 'Sold Price': '$1,450,000', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 3, 'Garage': 2}
19: {'Address': '629 Crerar Ave , Oshawa', 'Neighbourhood': 'Donevan', 'Floor Size': 1284, 'Latitude': -78.83612, 'Longitude': 43.89229, 'Date of Status': '1 hour ago', 'Price Listed': '$675,000', 'Status': 'Sold', 'Sold Price': '$777,000', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 0}
20: {'Address': '16 Dunsley Way E , Whitby', 'Neighbourhood': 'Pringle Creek', 'Floor Size': 1300, 'Latitude': -78.92526, 'Longitude': 43.88482, 'Date of Status': '1 hour ago', 'Price Listed': '$759,999', 'Status': 'Sold', 'Sold Price': '$755,000', 'Type of House': 'Freehold Townhouse', 'Bedrooms': 3, 'Bathrooms': 3, 'Garage': 1}
21: {'Address': '2193 Melissa Cres , Burlington', 'Neighbourhood': 'Brant Hills', 'Floor Size': 1750, 'Latitude': -79.8417, 'Longitude': 43.36513, 'Date of Status': '1 hour ago', 'Price Listed': '$1,195,000', 'Status': 'Sold', 'Sold Price': '$1,144,000', 'Type of House': 'Link', 'Bedrooms': 4, 'Bathrooms': 4, 'Garage': 1}
22: {'Address': '81 Woolenscote Circ , Etobicoke', 'Neighbourhood': 'West Humber', 'Latitude': -79.60201, 'Longitude': 43.73273, 'Date of Status': '1 hour ago', 'Price Listed': '$926,000', 'Status': 'Sold', 'Sold Price': '$890,000', 'Type of House': 'Link', 'Bedrooms': 3, 'Bathrooms': 4, 'Garage': 1}
23: {'Address': '20 MCCARTNEY Street , Flamborough', 'Neighbourhood': 'Waterdown East', 'Floor Size': 2557, 'Latitude': -79.880314, 'Longitude': 43.33926, 'Date of Status': '2 hours ago', 'Price Listed': '$1,494,900', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Detached, Freehold', 'Bedrooms': 4, 'Bathrooms': 5, 'Garage': 2}
24: {'Address': '351/353 MAIN Street E , Milton', 'Neighbourhood': None, 'Date of Status': '2 hours ago', 'Price Listed': '$-', 'Status': 'Inactive', 'Sold Price': 0, 'Type of House': 'Other, Freehold'}
25: {'Address': '2902', 'Neighbourhood': '5915 Yonge St , North York', 'Floor Size': 549, 'Latitude': -79.41688, 'Longitude': 43.78685, 'Date of Status': '3 hours ago', 'Price Listed': '$579,800', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 1, 'Bathrooms': 1, 'Garage': 0}
26: {'Address': '2902', 'Neighbourhood': '5799 Yonge St , North York', 'Floor Size': 549, 'Latitude': -79.41628, 'Longitude': 43.7853, 'Date of Status': '3 hours ago', 'Price Listed': '$579,800', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 1, 'Bathrooms': 1, 'Garage': 0}
27: {'Address': '2506', 'Neighbourhood': '80 Antibes Dr , North York', 'Floor Size': 1299, 'Latitude': -79.44816, 'Longitude': 43.78032, 'Date of Status': '3 hours ago', 'Price Listed': '$779,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 1}
28: {'Address': '610', 'Neighbourhood': '153 Beecroft Rd , North York', 'Floor Size': 749, 'Latitude': -79.41436, 'Longitude': 43.76526, 'Date of Status': '3 hours ago', 'Price Listed': '$675,000', 'Status': 'Sold Conditional', 'Sold Price': '$675,000', 'Type of House': 'Condo Apt', 'Bedrooms': 2, 'Bathrooms': 1, 'Garage': 1}
29: {'Address': '101', 'Neighbourhood': '277 Gatwick Dr , Oakville', 'Floor Size': 949, 'Latitude': -79.71319, 'Longitude': 43.48022, 'Date of Status': '3 hours ago', 'Price Listed': '$679,000', 'Status': 'Sold Conditional', 'Sold Price': '$679,000', 'Type of House': 'Condo Townhouse', 'Bedrooms': 1, 'Bathrooms': 2, 'Garage': 1}
30: {'Address': '2', 'Neighbourhood': '94 Petra Way , Whitby', 'Floor Size': 949, 'Latitude': -78.9475, 'Longitude': 43.90358, 'Date of Status': '3 hours ago', 'Price Listed': '$595,000', 'Status': 'Sold', 'Sold Price': '$615,000', 'Type of House': 'Condo Apt', 'Bedrooms': 2, 'Bathrooms': 1, 'Garage': 1}
31: {'Address': '766 Proctor Rd , Burlington', 'Neighbourhood': 'Brant', 'Floor Size': 1750, 'Latitude': -79.79866, 'Longitude': 43.34354, 'Date of Status': '3 hours ago', 'Price Listed': '$1,175,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 1}
32: {'Address': '3214 Berkshire Lane , Burlington', 'Neighbourhood': 'Headon', 'Floor Size': 2750, 'Latitude': -79.83042, 'Longitude': 43.3792, 'Date of Status': '3 hours ago', 'Price Listed': '$1,699,900', 'Status': 'Sold Conditional', 'Sold Price': '$1,699,900', 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 3, 'Garage': 2}
33: {'Address': '1303 Royal Dr , Burlington', 'Neighbourhood': 'Mountainside', 'Floor Size': 1300, 'Latitude': -79.82216, 'Longitude': 43.35079, 'Date of Status': '3 hours ago', 'Price Listed': '$999,900', 'Status': 'Sold Conditional', 'Sold Price': '$999,900', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 1}
34: {'Address': '717 Hyland St , Whitby', 'Neighbourhood': 'Downtown Whitby', 'Floor Size': 1415, 'Latitude': -78.9289, 'Longitude': 43.87553, 'Date of Status': '3 hours ago', 'Price Listed': '$699,900', 'Status': 'Sold', 'Sold Price': '$810,000', 'Type of House': 'Freehold Townhouse', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 1}
35: {'Address': '2557 Bandsman Cres , Oshawa', 'Neighbourhood': 'Windfields', 'Floor Size': 2295, 'Latitude': -78.91369, 'Longitude': 43.96, 'Date of Status': '3 hours ago', 'Price Listed': '$1,100,000', 'Status': 'Sold', 'Sold Price': '$1,050,000', 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 4, 'Garage': 1}
36: {'Address': '204', 'Neighbourhood': '2800 Keele St , North York', 'Floor Size': 1099, 'Latitude': -79.48333, 'Longitude': 43.72865, 'Date of Status': '4 hours ago', 'Price Listed': '$749,900', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 2, 'Bathrooms': 2, 'Garage': 1}
37: {'Address': '2249 Mountain Grove Ave , Burlington', 'Neighbourhood': 'Mountainside', 'Floor Size': 1299, 'Latitude': -79.826, 'Longitude': 43.36659, 'Date of Status': '4 hours ago', 'Price Listed': '$849,900', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Townhouse', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 1}
38: {'Address': '705', 'Neighbourhood': '2263 Marine Dr , Oakville', 'Floor Size': 1099, 'Latitude': -79.7052, 'Longitude': 43.39865, 'Date of Status': '4 hours ago', 'Price Listed': '$699,900', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 3, 'Bathrooms': 1, 'Garage': 1}
39: {'Address': '1252 Hazel Way , Milton', 'Neighbourhood': 'Cobban', 'Floor Size': 1750, 'Latitude': -79.8365355, 'Longitude': 43.5006042, 'Date of Status': '4 hours ago', 'Price Listed': '$1,069,900', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Freehold Townhouse', 'Bedrooms': 4, 'Bathrooms': 3, 'Garage': 1}
40: {'Address': '1645 Stonehaven Dr , Mississauga', 'Neighbourhood': 'Clarkson', 'Floor Size': 2135, 'Latitude': -79.61667, 'Longitude': 43.51912, 'Date of Status': '4 hours ago', 'Price Listed': '$1,975,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 3, 'Garage': 2}
41: {'Address': '8522 Sixth Line , Halton Hills', 'Neighbourhood': 'Georgetown', 'Floor Size': 3250, 'Latitude': -79.86648, 'Longitude': 43.56843, 'Date of Status': '4 hours ago', 'Price Listed': '$3,225,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 3, 'Garage': 4}
42: {'Address': '2312 Hoover Crt , Burlington', 'Neighbourhood': 'Tyandaga', 'Floor Size': 4250, 'Latitude': -79.85371, 'Longitude': 43.35905, 'Date of Status': '4 hours ago', 'Price Listed': '$2,649,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Detached', 'Bedrooms': 5, 'Bathrooms': 4, 'Garage': 2}
43: {'Address': '4 Franca Cres , Etobicoke', 'Neighbourhood': 'Mount Olive', 'Floor Size': 1652, 'Latitude': -79.59377, 'Longitude': 43.75678, 'Date of Status': '4 hours ago', 'Price Listed': '$979,000', 'Status': 'Sold Conditional', 'Sold Price': '$979,000', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 3, 'Garage': 1}
44: {'Address': '1252 Hazel Way , Milton', 'Neighbourhood': 'Cobban', 'Floor Size': 1750, 'Latitude': -79.8365402, 'Longitude': 43.5006065, 'Date of Status': '4 hours ago', 'Price Listed': '$1,225,000', 'Status': 'Terminated', 'Sold Price': 0, 'Type of House': 'Freehold Townhouse', 'Bedrooms': 4, 'Bathrooms': 3, 'Garage': 1}
45: {'Address': '1071 Springbrook Cres , Oakville', 'Neighbourhood': 'Glen Abbey', 'Floor Size': 1750, 'Latitude': -79.72155, 'Longitude': 43.44101, 'Date of Status': '4 hours ago', 'Price Listed': '$1,295,000', 'Status': 'Sold', 'Sold Price': '$1,185,000', 'Type of House': 'Link', 'Bedrooms': 3, 'Bathrooms': 4, 'Garage': 1}
46: {'Address': '36', 'Neighbourhood': '3200 Dakota Common , Burlington', 'Floor Size': 618, 'Latitude': -79.813184, 'Longitude': 43.409634, 'Date of Status': '5 hours ago', 'Price Listed': '$550,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo/Apt Unit', 'Bedrooms': 2, 'Bathrooms': 1, 'Garage': 1}
47: {'Address': '3425 Ridgeway Dr , Mississauga', 'Neighbourhood': 'Erin Mills', 'Floor Size': 1299, 'Latitude': -79.7026822, 'Longitude': 43.5223404, 'Date of Status': '5 hours ago', 'Price Listed': '$829,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Townhouse', 'Bedrooms': 2, 'Bathrooms': 3, 'Garage': 1}
48: {'Address': '618', 'Neighbourhood': '3200 Dakota Common , Burlington', 'Floor Size': 649, 'Latitude': -79.81309, 'Longitude': 43.40972, 'Date of Status': '5 hours ago', 'Price Listed': '$550,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 2, 'Bathrooms': 1, 'Garage': 1}
49: {'Address': '2611', 'Neighbourhood': '5168 Yonge St , North York', 'Floor Size': 549, 'Latitude': -79.41353, 'Longitude': 43.76988, 'Date of Status': '5 hours ago', 'Price Listed': '$738,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 1, 'Bathrooms': 1, 'Garage': 1}
50: {'Address': '309B', 'Neighbourhood': '9090 Yonge St , Richmond Hill', 'Floor Size': 549, 'Latitude': -79.43266, 'Longitude': 43.8488, 'Date of Status': '5 hours ago', 'Price Listed': '$588,888', 'Status': 'Terminated', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 1, 'Bathrooms': 1, 'Garage': 1}
51: {'Address': '404', 'Neighbourhood': '2365 Central Park Dr , Oakville', 'Floor Size': 649, 'Latitude': -79.72163, 'Longitude': 43.47931, 'Date of Status': '5 hours ago', 'Price Listed': '$525,000', 'Status': 'Sold', 'Sold Price': '$517,000', 'Type of House': 'Condo Apt', 'Bedrooms': 1, 'Bathrooms': 1, 'Garage': 1}
52: {'Address': '529 Vale Pl , Oakville', 'Neighbourhood': 'Bronte East', 'Floor Size': 1374, 'Latitude': -79.70371, 'Longitude': 43.42558, 'Date of Status': '5 hours ago', 'Price Listed': '$1,275,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 1}
53: {'Address': '16 Shenstone Rd , North York', 'Neighbourhood': 'Westminster', 'Floor Size': 2750, 'Latitude': -79.45402, 'Longitude': 43.78805, 'Date of Status': '5 hours ago', 'Price Listed': '$1,788,800', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 4, 'Garage': 2}
54: {'Address': '1332 Roylen Rd , Oakville', 'Neighbourhood': 'College Park', 'Floor Size': 1300, 'Latitude': -79.70859, 'Longitude': 43.45748, 'Date of Status': '5 hours ago', 'Price Listed': '$799,888', 'Status': 'Sold', 'Sold Price': '$950,000', 'Type of House': 'Semi-Detached', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 0}
55: {'Address': '2312 Hoover Crt , Burlington', 'Neighbourhood': 'Tyandaga', 'Floor Size': 4250, 'Latitude': -79.85371, 'Longitude': 43.35905, 'Date of Status': '5 hours ago', 'Price Listed': '$2,949,000', 'Status': 'Terminated', 'Sold Price': 0, 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 4, 'Garage': 2}
56: {'Address': '904 Somerville Terr , Milton', 'Neighbourhood': 'Beaty', 'Floor Size': 4250, 'Latitude': -79.8318, 'Longitude': 43.52131, 'Date of Status': '5 hours ago', 'Price Listed': '$1,550,000', 'Status': 'Sold', 'Sold Price': '$1,560,000', 'Type of House': 'Detached', 'Bedrooms': 5, 'Bathrooms': 4, 'Garage': 2}
57: {'Address': '1016 Swiss Hts , Oshawa', 'Neighbourhood': 'Pinecrest', 'Floor Size': 1750, 'Latitude': -78.84395, 'Longitude': 43.93685, 'Date of Status': '5 hours ago', 'Price Listed': '$999,777', 'Status': 'Sold', 'Sold Price': '$1,005,000', 'Type of House': 'Detached', 'Bedrooms': 2, 'Bathrooms': 3, 'Garage': 1}
58: {'Address': '504', 'Neighbourhood': '34 PLAINS Road E , Burlington', 'Floor Size': 1331, 'Latitude': -79.851609, 'Longitude': 43.307054, 'Date of Status': '6 hours ago', 'Price Listed': '$879,900', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Apartment Unit, Condominium', 'Bedrooms': 2, 'Bathrooms': 2, 'Garage': 2}
59: {'Address': '808', 'Neighbourhood': '2379 Central Park Drive , Oakville', 'Floor Size': 520, 'Latitude': -79.720827, 'Longitude': 43.480218, 'Date of Status': '6 hours ago', 'Price Listed': '$525,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Apartment Unit, Condominium', 'Bedrooms': 1, 'Bathrooms': 1, 'Garage': 1}
60: {'Address': '101', 'Neighbourhood': '4655 Glen Erin Dr , Mississauga', 'Floor Size': 649, 'Latitude': -79.71068, 'Longitude': 43.55461, 'Date of Status': '6 hours ago', 'Price Listed': '$549,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 1, 'Bathrooms': 1, 'Garage': 1}

In [33]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

def convert_relative_timestamp(relative_timestamp):
    if " hours ago" in relative_timestamp:
        hours = int(relative_timestamp.split()[0])
        absolute_timestamp = datetime.now() - timedelta(hours=hours)
        return absolute_timestamp.date()
    elif " days ago" in relative_timestamp:
        days = int(relative_timestamp.split()[0])
        absolute_timestamp = datetime.now() - timedelta(days=days)
        return absolute_timestamp.date()
    else:
        return datetime.now().date()

# Assuming 'data_list' is defined elsewhere
df = pd.DataFrame(data_list)

# Ensure 'Date of Status' column is in string format
df['Date of Status'] = df['Date of Status'].astype(str)

df['City'] = df['Address'].str.split(',').str[1].str.split(' - ').str[0]
df['Address'] = df['Address'].str.split(',').str[0]
df['Date of Status'] = df['Date of Status'].apply(convert_relative_timestamp)

# Convert 'Sold Price' column to strings
df['Sold Price'] = df['Sold Price'].astype(str)

# Remove '$' and ',' and convert to numeric
df['Sold Price'] = pd.to_numeric(df['Sold Price'].str.replace('$', '').str.replace(',', ''), errors='coerce')
df['Price Listed'] = pd.to_numeric(df['Price Listed'].str.replace('$', '').str.replace(',', ''), errors='coerce')

# Replace '-' with NaN in 'Price Listed' column
df['Price Listed'].replace('-', np.nan, inplace=True)

df

,Address,Neighbourhood,Floor Size,Latitude,Longitude,Date of Status,Price Listed,Status,Sold Price,Type of House,Bedrooms,Bathrooms,Garage,City
0,3105 - 5180 Yonge St,None,749.0,-79.41359,43.77036,2024-02-29,769000,For Sale,0,Condo Apt,2,2,1,North York
1,18 Palamar Rd,None,1773.0,-79.50410,43.72494,2024-02-29,1465000,For Sale,0,Detached,3,3,2,North York
2,1210 - 370 Dixon Rd,None,1299.0,-79.55616,43.69592,2024-02-29,499000,Sold,510000,Condo Apt,3,2,1,Etobicoke
3,3105 - 5180 Yonge St,None,749.0,-79.41359,43.77036,2024-02-29,839000,Suspended,0,Condo Apt,2,2,1,North York
4,98 Marbrook St,None,4250.0,-79.45346,43.88638,2024-02-29,2580000,For Sale,0,Detached,4,5,2,Richmond Hill
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,1007 - 3700 Highway 7,None,649.0,-79.54708,43.79027,2024-02-29,629900,Sold,565500,Condo Apt,1,1,1,Vaughan
556,1805 - 2908 Highway 7 Rd,None,649.0,-79.52134,43.79600,2024-02-29,619900,Sold,616000,Condo Apt,1,2,1,Vaughan
557,94 Blossom Cres,None,2015.0,-79.52419,43.75078,2024-02-29,899900,For Sale,0,Semi-Detached,4,3,1,North York
558,15 Joseph Aaron Blvd,None,2180.0,-79.45992,43.79574,2024-02-29,1180000,For Sale,0,Detached,3,4,2,Vaughan
559,92 Amparo Dr,None,1750.0,-79.56714,43.82809,2024-02-29,1308888,For Sale,0,Detached,3,3,1,Vaughan

In [34]:
# Prepare weather data from specified csv
weather_data_oakville = 'Resources/Oakville_Historical_Weather.csv'
selected_columns = ['HEATING_DEGREE_DAYS', 'MIN_TEMPERATURE','LOCAL_DATE', 'STATION_NAME', 'COOLING_DEGREE_DAYS', 'LOCAL_MONTH', 'LOCAL_DAY', 'LOCAL_YEAR', 'TOTAL_PRECIPITATION', 'SNOW_ON_GROUND', 'MEAN_TEMPERATURE', 'TOTAL_SNOW', 'TOTAL_RAIN', 'MAX_TEMPERATURE', 'ID']
df_weather = pd.read_csv(weather_data_oakville, usecols=selected_columns, encoding="ISO-8859-1", on_bad_lines='skip', low_memory=True, engine='python')
df_weather = df_weather.dropna(subset=['MIN_TEMPERATURE'])
df_weather = df_weather.reset_index(drop=True)
columns_to_fill = ['HEATING_DEGREE_DAYS', 'MIN_TEMPERATURE', 'COOLING_DEGREE_DAYS', 
                   'TOTAL_PRECIPITATION', 'SNOW_ON_GROUND', 'MEAN_TEMPERATURE', 
                   'TOTAL_SNOW', 'TOTAL_RAIN', 'MAX_TEMPERATURE']
df_weather[columns_to_fill] = df_weather[columns_to_fill].fillna(0)
df_weather['LOCAL_DATE'] = pd.to_datetime(df_weather['LOCAL_DATE']).dt.date
df_weather.sample(10)

,HEATING_DEGREE_DAYS,MIN_TEMPERATURE,LOCAL_DATE,STATION_NAME,COOLING_DEGREE_DAYS,LOCAL_MONTH,LOCAL_DAY,LOCAL_YEAR,TOTAL_PRECIPITATION,SNOW_ON_GROUND,MEAN_TEMPERATURE,TOTAL_SNOW,TOTAL_RAIN,MAX_TEMPERATURE,ID
1268,11.7,1.5,1993-11-12,OAKVILLE GERARD,0.0,11,12,1993,2.0,0.0,6.3,0.0,2.0,11.0,6155PD4.1993.11.12
3213,16.5,-4.0,1999-03-26,OAKVILLE GERARD,0.0,3,26,1999,0.0,0.0,1.5,0.0,0.0,7.0,6155PD4.1999.3.26
4480,14.7,0.0,2002-10-29,OAKVILLE GERARD,0.0,10,29,2002,0.0,0.0,3.3,0.0,0.0,6.5,6155PD4.2002.10.29
1659,20.0,-6.0,1994-12-15,OAKVILLE GERARD,0.0,12,15,1994,0.4,10.0,-2.0,0.4,0.0,2.0,6155PD4.1994.12.15
4643,16.2,-5.0,2003-04-10,OAKVILLE GERARD,0.0,4,10,2003,0.0,9.0,1.8,0.0,0.0,8.5,6155PD4.2003.4.10
5024,1.8,13.0,2004-05-21,OAKVILLE GERARD,0.0,5,21,2004,1.0,0.0,16.2,0.0,1.0,19.4,6155PD4.2004.5.21
1273,13.5,2.5,1993-11-17,OAKVILLE GERARD,0.0,11,17,1993,2.0,0.0,4.5,0.0,2.0,6.5,6155PD4.1993.11.17
4363,0.0,24.0,2002-07-04,OAKVILLE GERARD,10.5,7,4,2002,0.0,0.0,28.5,0.0,0.0,33.0,6155PD4.2002.7.4
5287,14.5,1.4,2005-02-08,OAKVILLE GERARD,0.0,2,8,2005,0.0,11.0,3.5,0.0,0.0,5.5,6155PD4.2005.2.8
2469,18.3,-3.5,1997-03-08,OAKVILLE GERARD,0.0,3,8,1997,0.6,12.0,-0.3,0.6,0.0,3.0,6155PD4.1997.3.8

In [35]:
from pymongo import MongoClient

# Create connection string
mongo_connection_string = f'mongodb+srv://{mongo_username}:{mongo_password}@cluster0.9gjuly6.mongodb.net/'

# Connect to MongoDB
mongo_client = MongoClient(mongo_connection_string)

# Create DB
mongo_db = mongo_client.properties

# Insert data into separate collections
all_houses_collection = mongo_db.all_houses
sold_houses_collection = mongo_db.sold_houses
weather_collection = mongo_db.weather_data

In [36]:
# Insert data_list into MongoDB
for data in data_list:
    address = data.get('Address')
    if address:
        house_exists = all_houses_collection.find_one({'address': address})

    if house_exists:
        all_houses_collection.update_one(
            {'address': address},
            {
                '$set': {
                    'status': data.get('Status'),
                    'date_listed': datetime.combine(convert_relative_timestamp(data.get('Date of Status')), datetime.min.time())
                }
            }
        )
    else:
        address_parts = address.split(',')
        city = address_parts[1].split(' - ')[0].strip()
        address = address_parts[0]

        new_house = {
            'address': address,
            'status': data.get('Status'),
            'latitude': data.get('Latitude'),
            'longitude': data.get('Longitude'),
            'floor_size': data.get('Floor Size'),
            'bedrooms': data.get('Bedrooms'),
            'bathrooms': data.get('Bathrooms'),
            'garage': data.get('Garage'),
            'city': city,
            'type_of_house': data.get('Type of House'),
            'date_listed': datetime.combine(convert_relative_timestamp(data.get('Date of Status')), datetime.min.time()),
            'neighbourhood': data.get('Neighbourhood'),
            'price': float(data.get('Price Listed').replace('$', '').replace(',', ''))
        }

        all_houses_collection.insert_one(new_house)
        all_houses_collection.delete_many({"Neighbourhoods": {"$exists": False}})

In [37]:
for data in data_list:
    address = data.get('Address')
    status = data.get('Status')

    if status in ["Sold", "Sold Conditional"]:
        sold_house = sold_houses_collection.find_one({'address': address})

        if sold_house:
            sold_houses_collection.update_one(
                {'address': address},
                {
                    '$set': {
                        'status': status,
                        'date_listed': datetime.combine(convert_relative_timestamp(data.get('Date of Status')), datetime.min.time()),
                        'sold_price': float(str(data.get('Sold Price')).replace('$', '').replace(',', ''))
                    }
                }
            )
        else:
            address_parts = address.split(',')
            city = address_parts[1].split(' - ')[0].strip()
            address = address_parts[0]
            new_sold_house = {
                'address': address,
                'price': float(data.get('Price Listed').replace('$', '').replace(',', '')),
                'status': status,
                'date_listed': datetime.combine(convert_relative_timestamp(data.get('Date of Status')), datetime.min.time()),
                'sold_price': float(str(data.get('Sold Price')).replace('$', '').replace(',', '')),
                'city': city,
                'type_of_house': data.get('Type of House'),
                'neighbourhood': data.get('Neighbourhood')
            }

            sold_houses_collection.insert_one(new_sold_house)
            sold_houses_collection.delete_many({"Neighbourhoods": {"$exists": False}})

In [15]:
# Insert weather into MongoDB
for index, row in df_weather.iterrows():
    weather_data_instance = {
        'id': row['ID'],
        'heating_degree_days': row['HEATING_DEGREE_DAYS'],
        'min_temperature': row['MIN_TEMPERATURE'],
        'local_date': datetime.combine(row['LOCAL_DATE'], datetime.min.time()),
        'station_name': row['STATION_NAME'],
        'cooling_degree_days': row['COOLING_DEGREE_DAYS'],
        'local_month': row['LOCAL_MONTH'],
        'local_day': row['LOCAL_DAY'],
        'local_year': row['LOCAL_YEAR'],
        'total_precipitation': row['TOTAL_PRECIPITATION'],
        'snow_on_ground': row['SNOW_ON_GROUND'],
        'mean_temperature': row['MEAN_TEMPERATURE'],
        'total_snow': row['TOTAL_SNOW'],
        'total_rain': row['TOTAL_RAIN'],
        'max_temperature': row['MAX_TEMPERATURE']
    }

    weather_collection.insert_one(weather_data_instance)

In [16]:
# Get number of records for each collection
weather_count = mongo_db.weather_data.count_documents({})
sold_houses_count = mongo_db.sold_houses.count_documents({})
all_houses_count = mongo_db.all_houses.count_documents({})

# Print the counts
print("Number of records in Weather Data collection:", weather_count)
print("Number of records in Sold Houses collection:", sold_houses_count)
print("Number of records in All Houses collection:", all_houses_count)

Number of records in Weather Data collection: 23576
Number of records in Sold Houses collection: 739
Number of records in All Houses collection: 4285

In [17]:
# Close MongoDB connection
mongo_client.close()

In [18]:
# Close browser
browser.quit()