In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import csv as csv
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from citipy import citipy
import requests
import json
from api_keys import apify_key

In [2]:
df_1=pd.read_csv("Resources/Milton_Avg_Rental_Price_updated.csv", encoding='ISO-8859-1')
df_2=pd.read_csv("Resources/Milton_Avg_Sale_Price_updated.csv", encoding='ISO-8859-1')
df_3=pd.read_csv("Resources/Milton_Median_Rental_Price_updated.csv", encoding='ISO-8859-1')
df_4=pd.read_csv("Resources/Milton_Median_Sale_Price_updated.csv", encoding='ISO-8859-1')
school_public_df = pd.read_csv('Resources/ODEF_v2_1.csv', encoding='ISO-8859-1')

In [3]:
milton_df_2021 = pd.read_csv("Resources/CensusProfile2021-ProfilRecensement2021-20231206084412.csv", encoding='ISO-8859-1')
milton_df_2021.head()

,Topic,Characteristic,Note,Total,Total_Flag,Total.1,Total_Flag.1
0,Population and dwellings,"Population, 2021",1.0,132979.0,NaN,NaN,...
1,Population and dwellings,"Population, 2016",1.0,110128.0,NaN,NaN,...
2,Population and dwellings,"Population percentage change, 2016 to 2021",NaN,20.7,NaN,20.7,NaN
3,Population and dwellings,Total private dwellings,2.0,41000.0,NaN,NaN,...
4,Population and dwellings,Private dwellings occupied by usual residents,3.0,40038.0,NaN,NaN,...

In [4]:
milton_df_2021.columns

Index(['Topic', 'Characteristic', 'Note', 'Total', 'Total_Flag', 'Total.1',
       'Total_Flag.1'],
      dtype='object')

In [5]:
milton_df_2021_cleaning = milton_df_2021.drop(milton_df_2021[milton_df_2021['Topic'] == 'Population and dwellings'].index[[2, 3, 4, 5, 6]])
milton_df_2021_cleaning

,Topic,Characteristic,Note,Total,Total_Flag,Total.1,Total_Flag.1
0,Population and dwellings,"Population, 2021",1.0,132979.0,NaN,NaN,...
1,Population and dwellings,"Population, 2016",1.0,110128.0,NaN,NaN,...
7,Age characteristics,Total - Age groups of the population - 100% data,NaN,132980.0,NaN,100.0,NaN
8,Age characteristics,0 to 14 years,NaN,31980.0,NaN,24.0,NaN
9,Age characteristics,0 to 4 years,NaN,8875.0,NaN,6.7,NaN
...,...,...,...,...,...,...,...
223,Labour force status,Unemployed,NaN,8035.0,NaN,NaN,...
224,Labour force status,Not in the labour force,NaN,28790.0,NaN,NaN,...
225,Labour force status,Participation rate,NaN,71.1,NaN,71.1,NaN
226,Labour force status,Employment rate,NaN,63.0,NaN,63.0,NaN
227,Labour force status,Unemployment rate,NaN,11.4,NaN,11.4,NaN

In [6]:
milton_df_2021_cleaning.loc[milton_df_2021_cleaning['Topic'] == 'Age characteristics'].index

Index([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
       25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
      dtype='int64')

In [7]:
indices_to_drop = [8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
milton_df_2021_cleaning = milton_df_2021_cleaning.drop(indices_to_drop, errors='ignore')

milton_df_2021_cleaning.head()

,Topic,Characteristic,Note,Total,Total_Flag,Total.1,Total_Flag.1
0,Population and dwellings,"Population, 2021",1.0,132979.0,NaN,NaN,...
1,Population and dwellings,"Population, 2016",1.0,110128.0,NaN,NaN,...
7,Age characteristics,Total - Age groups of the population - 100% data,NaN,132980.0,NaN,100.0,NaN
12,Age characteristics,15 to 64 years,NaN,87770.0,NaN,66.0,NaN
23,Age characteristics,65 years and over,NaN,13225.0,NaN,9.9,NaN

In [8]:
milton_df_2021_cleaning = milton_df_2021_cleaning.loc[milton_df_2021_cleaning['Topic'] != 'Household and dwelling characteristics']
milton_df_2021_cleaning.head()

,Topic,Characteristic,Note,Total,Total_Flag,Total.1,Total_Flag.1
0,Population and dwellings,"Population, 2021",1.0,132979.0,NaN,NaN,...
1,Population and dwellings,"Population, 2016",1.0,110128.0,NaN,NaN,...
7,Age characteristics,Total - Age groups of the population - 100% data,NaN,132980.0,NaN,100.0,NaN
12,Age characteristics,15 to 64 years,NaN,87770.0,NaN,66.0,NaN
23,Age characteristics,65 years and over,NaN,13225.0,NaN,9.9,NaN

In [9]:
milton_df_2021_cleaning.loc[milton_df_2021_cleaning['Topic'] == 'Income of households in 2020'].index

Index([ 57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,
        71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,
        85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,  98,
        99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115],
      dtype='int64')

In [10]:
indices_to_drop = [57, 60,  61,  62,  63,  64,  65,  66,  69,  70,
        71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,
        85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,  98,
        99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115]
milton_df_2021_cleaning = milton_df_2021_cleaning.drop(indices_to_drop, errors='ignore')
milton_df_2021_cleaning.head()

,Topic,Characteristic,Note,Total,Total_Flag,Total.1,Total_Flag.1
0,Population and dwellings,"Population, 2021",1.0,132979.0,NaN,NaN,...
1,Population and dwellings,"Population, 2016",1.0,110128.0,NaN,NaN,...
7,Age characteristics,Total - Age groups of the population - 100% data,NaN,132980.0,NaN,100.0,NaN
12,Age characteristics,15 to 64 years,NaN,87770.0,NaN,66.0,NaN
23,Age characteristics,65 years and over,NaN,13225.0,NaN,9.9,NaN

In [11]:
milton_df_2021_cleaning.loc[milton_df_2021_cleaning['Topic'] == 'Household characteristics'].index

Index([116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157,
       158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171,
       172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185,
       186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199,
       200, 201],
      dtype='int64')

In [12]:

milton_df_2021_cleaning

,Topic,Characteristic,Note,Total,Total_Flag,Total.1,Total_Flag.1
0,Population and dwellings,"Population, 2021",1.0,132979.0,NaN,NaN,...
1,Population and dwellings,"Population, 2016",1.0,110128.0,NaN,NaN,...
7,Age characteristics,Total - Age groups of the population - 100% data,NaN,132980.0,NaN,100.0,NaN
12,Age characteristics,15 to 64 years,NaN,87770.0,NaN,66.0,NaN
23,Age characteristics,65 years and over,NaN,13225.0,NaN,9.9,NaN
...,...,...,...,...,...,...,...
223,Labour force status,Unemployed,NaN,8035.0,NaN,NaN,...
224,Labour force status,Not in the labour force,NaN,28790.0,NaN,NaN,...
225,Labour force status,Participation rate,NaN,71.1,NaN,71.1,NaN
226,Labour force status,Employment rate,NaN,63.0,NaN,63.0,NaN
227,Labour force status,Unemployment rate,NaN,11.4,NaN,11.4,NaN

In [13]:
indices_to_drop = [119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157,
       158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171,
       172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185,
       186, 187, 192, 193, 194, 195, 196, 197, 198, 199,
       200, 201]
milton_df_2021_cleaning = milton_df_2021_cleaning.drop(indices_to_drop, errors='ignore')
milton_df_2021_cleaning

,Topic,Characteristic,Note,Total,Total_Flag,Total.1,Total_Flag.1
0,Population and dwellings,"Population, 2021",1.0,132979.0,NaN,NaN,...
1,Population and dwellings,"Population, 2016",1.0,110128.0,NaN,NaN,...
7,Age characteristics,Total - Age groups of the population - 100% data,NaN,132980.0,NaN,100.0,NaN
12,Age characteristics,15 to 64 years,NaN,87770.0,NaN,66.0,NaN
23,Age characteristics,65 years and over,NaN,13225.0,NaN,9.9,NaN
58,Income of households in 2020,Median total income of household in 2020 ($),NaN,126000.0,NaN,126000.0,NaN
59,Income of households in 2020,Median after-tax income of household in 2020...,NaN,107000.0,NaN,107000.0,NaN
67,Income of households in 2020,Average total income of household in 2020 ($),NaN,142600.0,NaN,142600.0,NaN
68,Income of households in 2020,Average after-tax income of household in 202...,NaN,116300.0,NaN,116300.0,NaN
116,Household characteristics,Total - Private households by tenure - 25% sam...,50.0,40035.0,NaN,100.0,NaN
117,Household characteristics,Owner,NaN,33085.0,NaN,82.6,NaN
118,Household characteristics,Renter,NaN,6950.0,NaN,17.4,NaN
188,Household characteristics,Median monthly shelter costs for owned dwell...,65.0,2320.0,NaN,2320.0,NaN
189,Household characteristics,Average monthly shelter costs for owned dwel...,65.0,2274.0,NaN,2274.0,NaN
190,Household characteristics,Median value of dwellings ($),66.0,950000.0,NaN,950000.0,NaN
191,Household characteristics,Average value of dwellings ($),66.0,1022000.0,NaN,1022000.0,NaN
202,Mobility status 1 year ago,Total - Mobility status 1 year ago - 25% sampl...,163.0,129815.0,NaN,100.0,NaN
203,Mobility status 1 year ago,Non-movers,NaN,113720.0,NaN,87.6,NaN
204,Mobility status 1 year ago,Movers,NaN,16095.0,NaN,12.4,NaN
205,Mobility status 1 year ago,Non-migrants,NaN,6425.0,NaN,4.9,NaN
206,Mobility status 1 year ago,Migrants,NaN,9670.0,NaN,7.4,NaN
207,Mobility status 1 year ago,Internal migrants,NaN,8265.0,NaN,6.4,NaN
208,Mobility status 1 year ago,Intraprovincial migrants,NaN,7965.0,NaN,6.1,NaN
209,Mobility status 1 year ago,Interprovincial migrants,NaN,300.0,NaN,0.2,NaN
210,Mobility status 1 year ago,External migrants,NaN,1405.0,NaN,1.1,NaN
211,Mobility status 5 years ago,Total - Mobility status 5 years ago - 25% samp...,164.0,122555.0,NaN,100.0,NaN
212,Mobility status 5 years ago,Non-movers,NaN,67940.0,NaN,55.4,NaN
213,Mobility status 5 years ago,Movers,NaN,54620.0,NaN,44.6,NaN
214,Mobility status 5 years ago,Non-migrants,NaN,16230.0,NaN,13.2,NaN
215,Mobility status 5 years ago,Migrants,NaN,38390.0,NaN,31.3,NaN
216,Mobility status 5 years ago,Internal migrants,NaN,29270.0,NaN,23.9,NaN
217,Mobility status 5 years ago,Intraprovincial migrants,NaN,27300.0,NaN,22.3,NaN
218,Mobility status 5 years ago,Interprovincial migrants,NaN,1970.0,NaN,1.6,NaN
219,Mobility status 5 years ago,External migrants,NaN,9125.0,NaN,7.4,NaN
220,Labour force status,Total - Population aged 15 years and over by l...,184.0,99460.0,NaN,NaN,...
221,Labour force status,In the labour force,NaN,70675.0,NaN,NaN,...
222,Labour force status,Employed,NaN,62635.0,NaN,NaN,...
223,Labour force status,Unemployed,NaN,8035.0,NaN,NaN,...
224,Labour force status,Not in the labour force,NaN,28790.0,NaN,NaN,...
225,Labour force status,Participation rate,NaN,71.1,NaN,71.1,NaN
226,Labour force status,Employment rate,NaN,63.0,NaN,63.0,NaN
227,Labour force status,Unemployment rate,NaN,11.4,NaN,11.4,NaN

In [14]:
milton_df_2021_cleaning = milton_df_2021_cleaning.loc[milton_df_2021_cleaning['Topic'] != 'Mobility status 1 year ago']
milton_df_2021_cleaning = milton_df_2021_cleaning.loc[milton_df_2021_cleaning['Topic'] != 'Mobility status 5 years ago']
milton_df_2021_cleaning

,Topic,Characteristic,Note,Total,Total_Flag,Total.1,Total_Flag.1
0,Population and dwellings,"Population, 2021",1.0,132979.0,NaN,NaN,...
1,Population and dwellings,"Population, 2016",1.0,110128.0,NaN,NaN,...
7,Age characteristics,Total - Age groups of the population - 100% data,NaN,132980.0,NaN,100.0,NaN
12,Age characteristics,15 to 64 years,NaN,87770.0,NaN,66.0,NaN
23,Age characteristics,65 years and over,NaN,13225.0,NaN,9.9,NaN
58,Income of households in 2020,Median total income of household in 2020 ($),NaN,126000.0,NaN,126000.0,NaN
59,Income of households in 2020,Median after-tax income of household in 2020...,NaN,107000.0,NaN,107000.0,NaN
67,Income of households in 2020,Average total income of household in 2020 ($),NaN,142600.0,NaN,142600.0,NaN
68,Income of households in 2020,Average after-tax income of household in 202...,NaN,116300.0,NaN,116300.0,NaN
116,Household characteristics,Total - Private households by tenure - 25% sam...,50.0,40035.0,NaN,100.0,NaN
117,Household characteristics,Owner,NaN,33085.0,NaN,82.6,NaN
118,Household characteristics,Renter,NaN,6950.0,NaN,17.4,NaN
188,Household characteristics,Median monthly shelter costs for owned dwell...,65.0,2320.0,NaN,2320.0,NaN
189,Household characteristics,Average monthly shelter costs for owned dwel...,65.0,2274.0,NaN,2274.0,NaN
190,Household characteristics,Median value of dwellings ($),66.0,950000.0,NaN,950000.0,NaN
191,Household characteristics,Average value of dwellings ($),66.0,1022000.0,NaN,1022000.0,NaN
220,Labour force status,Total - Population aged 15 years and over by l...,184.0,99460.0,NaN,NaN,...
221,Labour force status,In the labour force,NaN,70675.0,NaN,NaN,...
222,Labour force status,Employed,NaN,62635.0,NaN,NaN,...
223,Labour force status,Unemployed,NaN,8035.0,NaN,NaN,...
224,Labour force status,Not in the labour force,NaN,28790.0,NaN,NaN,...
225,Labour force status,Participation rate,NaN,71.1,NaN,71.1,NaN
226,Labour force status,Employment rate,NaN,63.0,NaN,63.0,NaN
227,Labour force status,Unemployment rate,NaN,11.4,NaN,11.4,NaN

In [15]:
milton_df_2021_cleaning.loc[milton_df_2021_cleaning['Topic'] == 'Labour force status'].index

Index([220, 221, 222, 223, 224, 225, 226, 227], dtype='int64')

In [16]:
indices_to_drop = [220, 221, 222, 223, 224, 225, 226]
milton_df_2021_cleaning = milton_df_2021_cleaning.drop(indices_to_drop, errors='ignore')
milton_df_2021_cleaning = milton_df_2021_cleaning.reset_index(drop=True)
milton_df_2021_cleaning

,Topic,Characteristic,Note,Total,Total_Flag,Total.1,Total_Flag.1
0,Population and dwellings,"Population, 2021",1.0,132979.0,NaN,NaN,...
1,Population and dwellings,"Population, 2016",1.0,110128.0,NaN,NaN,...
2,Age characteristics,Total - Age groups of the population - 100% data,NaN,132980.0,NaN,100.0,NaN
3,Age characteristics,15 to 64 years,NaN,87770.0,NaN,66.0,NaN
4,Age characteristics,65 years and over,NaN,13225.0,NaN,9.9,NaN
5,Income of households in 2020,Median total income of household in 2020 ($),NaN,126000.0,NaN,126000.0,NaN
6,Income of households in 2020,Median after-tax income of household in 2020...,NaN,107000.0,NaN,107000.0,NaN
7,Income of households in 2020,Average total income of household in 2020 ($),NaN,142600.0,NaN,142600.0,NaN
8,Income of households in 2020,Average after-tax income of household in 202...,NaN,116300.0,NaN,116300.0,NaN
9,Household characteristics,Total - Private households by tenure - 25% sam...,50.0,40035.0,NaN,100.0,NaN
10,Household characteristics,Owner,NaN,33085.0,NaN,82.6,NaN
11,Household characteristics,Renter,NaN,6950.0,NaN,17.4,NaN
12,Household characteristics,Median monthly shelter costs for owned dwell...,65.0,2320.0,NaN,2320.0,NaN
13,Household characteristics,Average monthly shelter costs for owned dwel...,65.0,2274.0,NaN,2274.0,NaN
14,Household characteristics,Median value of dwellings ($),66.0,950000.0,NaN,950000.0,NaN
15,Household characteristics,Average value of dwellings ($),66.0,1022000.0,NaN,1022000.0,NaN
16,Labour force status,Unemployment rate,NaN,11.4,NaN,11.4,NaN

In [17]:
milton_housing_df = pd.read_excel("Resources/TableExport.xlsx")
milton_housing_df

    Year  Single  Semi-Detached   Row  Apartment   All
0   1990      35              0     0        154   189
1   1991      16              0     0          0    16
2   1992      20              0     0          0    20
3   1993      27              0     0          0    27
4   1994      24              0     0          0    24
5   1995      24              0     0          0    24
6   1996      19              0     0          0    19
7   1997      14              0     0          0    14
8   1998      30              0     0         12    42
9   1999      41              0     0         51    92
10  2000      20              0    57          0    77
11  2001     717            188   287          0  1192
12  2002    1129            326   310          0  1765
13  2003    1126            447   400          0  1973
14  2004     743            226   379          2  1350
15  2005    1082            380   320         51  1833
16  2006     856            156   235          0  1247
17  2007     687            174   627        213  1701
18  2008    1483            416   908        127  2934
19  2009    1180            260   306          0  1746
20  2010     793            134   449        240  1616
21  2011    1041             78   436        312  1867
22  2012     756            190  1045        152  2143
23  2013     223             66   345         96   730
24  2014     748             60   352        276  1436
25  2015     388              2   310        464  1164
26  2016     509             44   203        135   891
27  2017     616            324   983        269  2192
28  2018     384             72   372        615  1443
29  2019     249             27   433         24   733
30  2020     222             46   313          0   581
31  2021     522             80   339        132  1073
32  2022     367              0   352        358  1077

In [18]:
milton_df_2016 = pd.read_csv("Resources/CensusProfile2016-ProfilRecensement2016-20231207084508.csv", encoding='ISO-8859-1')
milton_df_2016['Topic'].unique()

array(['Population and dwellings', 'Age characteristics',
       'Household and dwelling characteristics', 'Marital status',
       'Family characteristics', 'Household type',
       'Knowledge of official languages',
       'First official language spoken', 'Mother tongue',
       'Language spoken most often at home',
       'Other language spoken regularly at home',
       'Income of individuals in 2015', 'Income of households in 2015',
       'Income of economic families in 2015', 'Low income in 2015',
       'Knowledge of languages', 'Citizenship',
       'Immigrant status and period of immigration', 'Age at immigration',
       'Immigrants by selected place of birth',
       'Recent immigrants by selected places of birth',
       'Generation status', 'Admission category and applicant type',
       'Aboriginal population', 'Visible minority population',
       'Ethnic origin population', 'Household characteristics',
       ' Highest certificate; diploma or degree',
       'Major field of study - Classification of Instructional Programs (CIP) 2016',
       'Location of study compared with province or territory of residence with countries outside Canada',
       'Labour force status', 'Work activity during the reference year',
       'Class of worker',
       'Occupation - National Occupational Classification (NOC) 2016',
       'Industry - North American Industry Classification System (NAICS) 2012',
       'Place of work status', 'Commuting destination',
       'Main mode of commuting', 'Commuting duration',
       'Time leaving for work', 'Language used most often at work',
       'Other language used regularly at work',
       'Mobility status - Place of residence 1 year ago',
       'Mobility status - Place of residence 5 years ago'], dtype=object)

In [19]:
milton_df_2016_cleaning = milton_df_2016.loc[milton_df_2016['Topic'] != 'Household and dwelling characteristics']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'First official language spoken']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Marital status']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Other language spoken regularly at home']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Family characteristics']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Knowledge of official languages']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Mother tongue']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Language spoken most often at home']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Income of individuals in 2015']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Income of economic families in 2015']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Low income in 2015']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Knowledge of languages']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Citizenship']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Immigrant status and period of immigration']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Age at immigration']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Immigrants by selected place of birth']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Recent immigrants by selected places of birth']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Generation status']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Admission category and applicant type']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Aboriginal population']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Visible minority population']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Ethnic origin population']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Highest certificate; diploma or degree']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Major field of study - Classification of Instructional Programs (CIP) 2016']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Location of study compared with province or territory of residence with countries outside Canada']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Occupation - National Occupational Classification (NOC) 2016']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Industry - North American Industry Classification System (NAICS) 2012']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Place of work status']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Commuting destination']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Main mode of commuting']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Commuting duration']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Time leaving for work']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Language used most often at work']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Other language used regularly at work']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Mobility status - Place of residence 1 year ago']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Mobility status - Place of residence 5 years ago']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Household type']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Work activity during the reference year']
milton_df_2016_cleaning = milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] != 'Class of worker']
milton_df_2016_cleaning.head()

,Topic,Characteristics,Unnamed: 2,Total
0,Population and dwellings,Population; 2016,NaN,110128.0
1,Population and dwellings,Population; 2011,NaN,84362.0
2,Population and dwellings,Population percentage change; 2011 to 2016,NaN,30.5
3,Population and dwellings,Total private dwellings,NaN,35537.0
4,Population and dwellings,Private dwellings occupied by usual residents,NaN,34257.0

In [20]:
milton_df_2016_cleaning = milton_df_2016_cleaning.drop(milton_df_2016_cleaning[milton_df_2016_cleaning['Topic'] == 'Population and dwellings'].index[[1, 2, 3, 4, 5, 6]])
milton_df_2016_cleaning.head()

,Topic,Characteristics,Unnamed: 2,Total
0,Population and dwellings,Population; 2016,NaN,110128.0
7,Age characteristics,Total - Age groups and average age of the popu...,NaN,110125.0
8,Age characteristics,0 to 14 years,NaN,28405.0
9,Age characteristics,0 to 4 years,NaN,9315.0
10,Age characteristics,5 to 9 years,NaN,10505.0

In [21]:
milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] == 'Age characteristics'].index

Index([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
       25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
      dtype='int64')

In [22]:
indices_to_drop = [8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
milton_df_2016_cleaning = milton_df_2016_cleaning.drop(indices_to_drop, errors='ignore')
milton_df_2016_cleaning.head()

,Topic,Characteristics,Unnamed: 2,Total
0,Population and dwellings,Population; 2016,NaN,110128.0
7,Age characteristics,Total - Age groups and average age of the popu...,NaN,110125.0
12,Age characteristics,15 to 64 years,NaN,71580.0
23,Age characteristics,65 years and over,NaN,10145.0
740,Income of households in 2015,Total - Income statistics in 2015 for private ...,NaN,34255.0

In [23]:
milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] == 'Income of households in 2015'].index

Index([740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767,
       768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781,
       782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795,
       796, 797, 798],
      dtype='int64')

In [24]:

indices_to_drop = [740, 743, 744, 745, 746, 747, 748, 749, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767,
       768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781,
       782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795,
       796, 797, 798]
milton_df_2016_cleaning = milton_df_2016_cleaning.drop(indices_to_drop, errors='ignore')
milton_df_2016_cleaning

,Topic,Characteristics,Unnamed: 2,Total
0,Population and dwellings,Population; 2016,NaN,110128.0
7,Age characteristics,Total - Age groups and average age of the popu...,NaN,110125.0
12,Age characteristics,15 to 64 years,NaN,71580.0
23,Age characteristics,65 years and over,NaN,10145.0
741,Income of households in 2015,Median total income of households in 2015 ($),NaN,104730.0
...,...,...,...,...
1867,Labour force status,Unemployed,NaN,3330.0
1868,Labour force status,Not in the labour force,NaN,20740.0
1869,Labour force status,Participation rate,NaN,74.2
1870,Labour force status,Employment rate,NaN,70.1
1871,Labour force status,Unemployment rate,NaN,5.6

In [25]:
milton_df_2016_cleaning.loc[milton_df_2016_cleaning['Topic'] == 'Household characteristics'].index

Index([1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627,
       1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639,
       1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651,
       1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663,
       1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675,
       1676, 1677, 1678, 1679, 1680, 1681],
      dtype='int64')

In [26]:
indices_to_drop = [1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627,
       1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639,
       1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651,
       1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663,
       1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1677, 1678, 1679]
milton_df_2016_cleaning = milton_df_2016_cleaning.drop(indices_to_drop, errors='ignore')
milton_df_2016_cleaning.head()

,Topic,Characteristics,Unnamed: 2,Total
0,Population and dwellings,Population; 2016,NaN,110128.0
7,Age characteristics,Total - Age groups and average age of the popu...,NaN,110125.0
12,Age characteristics,15 to 64 years,NaN,71580.0
23,Age characteristics,65 years and over,NaN,10145.0
741,Income of households in 2015,Median total income of households in 2015 ($),NaN,104730.0

In [27]:
indices_to_drop = range (1682,1712)
milton_df_2016_cleaning = milton_df_2016_cleaning.drop(indices_to_drop, errors='ignore')
milton_df_2016_cleaning

,Topic,Characteristics,Unnamed: 2,Total
0,Population and dwellings,Population; 2016,NaN,110128.0
7,Age characteristics,Total - Age groups and average age of the popu...,NaN,110125.0
12,Age characteristics,15 to 64 years,NaN,71580.0
23,Age characteristics,65 years and over,NaN,10145.0
741,Income of households in 2015,Median total income of households in 2015 ($),NaN,104730.0
742,Income of households in 2015,Median after-tax income of households in 201...,NaN,88711.0
750,Income of households in 2015,Average total income of households in 2015 ($),NaN,120157.0
751,Income of households in 2015,Average after-tax income of households in 20...,NaN,97783.0
1616,Household characteristics,Total - Private households by tenure - 25% sam...,NaN,34260.0
1617,Household characteristics,Owner,NaN,29415.0
1618,Household characteristics,Renter,NaN,4840.0
1675,Household characteristics,Median value of dwellings ($),NaN,598650.0
1676,Household characteristics,Average value of dwellings ($),NaN,622911.0
1680,Household characteristics,Median monthly shelter costs for rented dwel...,NaN,1615.0
1681,Household characteristics,Average monthly shelter costs for rented dwe...,NaN,1522.0
1864,Labour force status,Total - Population aged 15 years and over by L...,NaN,80560.0
1865,Labour force status,In the labour force,NaN,59815.0
1866,Labour force status,Employed,NaN,56485.0
1867,Labour force status,Unemployed,NaN,3330.0
1868,Labour force status,Not in the labour force,NaN,20740.0
1869,Labour force status,Participation rate,NaN,74.2
1870,Labour force status,Employment rate,NaN,70.1
1871,Labour force status,Unemployment rate,NaN,5.6

In [28]:
indices_to_drop = range (1864,1871)
milton_df_2016_cleaning = milton_df_2016_cleaning.drop(indices_to_drop, errors='ignore')
milton_df_2016_cleaning = milton_df_2016_cleaning.reset_index(drop=True)
milton_df_2016_cleaning

,Topic,Characteristics,Unnamed: 2,Total
0,Population and dwellings,Population; 2016,NaN,110128.0
1,Age characteristics,Total - Age groups and average age of the popu...,NaN,110125.0
2,Age characteristics,15 to 64 years,NaN,71580.0
3,Age characteristics,65 years and over,NaN,10145.0
4,Income of households in 2015,Median total income of households in 2015 ($),NaN,104730.0
5,Income of households in 2015,Median after-tax income of households in 201...,NaN,88711.0
6,Income of households in 2015,Average total income of households in 2015 ($),NaN,120157.0
7,Income of households in 2015,Average after-tax income of households in 20...,NaN,97783.0
8,Household characteristics,Total - Private households by tenure - 25% sam...,NaN,34260.0
9,Household characteristics,Owner,NaN,29415.0
10,Household characteristics,Renter,NaN,4840.0
11,Household characteristics,Median value of dwellings ($),NaN,598650.0
12,Household characteristics,Average value of dwellings ($),NaN,622911.0
13,Household characteristics,Median monthly shelter costs for rented dwel...,NaN,1615.0
14,Household characteristics,Average monthly shelter costs for rented dwe...,NaN,1522.0
15,Labour force status,Unemployment rate,NaN,5.6

In [29]:
milton_df = pd.merge(milton_df_2021_cleaning, milton_df_2016_cleaning, how='outer', left_index=True, right_index=True)
del milton_df['Unnamed: 2']
milton_df = milton_df.reset_index(drop=True)
milton_df.head()

,Topic_x,Characteristic,Note,Total_x,Total_Flag,Total.1,Total_Flag.1,Topic_y,Characteristics,Total_y
0,Population and dwellings,"Population, 2021",1.0,132979.0,NaN,NaN,...,Population and dwellings,Population; 2016,110128.0
1,Population and dwellings,"Population, 2016",1.0,110128.0,NaN,NaN,...,Age characteristics,Total - Age groups and average age of the popu...,110125.0
2,Age characteristics,Total - Age groups of the population - 100% data,NaN,132980.0,NaN,100.0,NaN,Age characteristics,15 to 64 years,71580.0
3,Age characteristics,15 to 64 years,NaN,87770.0,NaN,66.0,NaN,Age characteristics,65 years and over,10145.0
4,Age characteristics,65 years and over,NaN,13225.0,NaN,9.9,NaN,Income of households in 2015,Median total income of households in 2015 ($),104730.0

In [30]:
milton_df_one = pd.merge(df_1, df_2, how='inner', on='Primary Year')
milton_df_one = milton_df_one.rename(columns= {'Sale Price, Average_x' : 'Average Rental Price', 'Sale Price, Average_y' :'Average Housing Selling Price'})

In [31]:
milton_df_two = pd.merge(df_3, df_4, how='inner', on='Primary Year')
milton_df_two = milton_df_two.rename(columns= {'Sale Price, Median_x' : 'Median Rental Price', 'Sale Price, Median_y' :'Median Housing Selling Price'})
milton_df_two

   Primary Year Median Rental Price Median Housing Selling Price
0          2016              $2,150                     $621,000
1          2017              $2,100                     $705,000
2          2018              $2,200                     $675,000
3          2019              $2,300                     $725,000
4          2020              $2,400                     $810,786
5          2021              $2,650                     $990,000
6          2022              $2,800                   $1,100,000
7          2023              $2,900                   $1,015,000

In [32]:
milton_df_2 = pd.merge(milton_df_two, milton_df_one, how='inner', on='Primary Year')
milton_df_2

,Primary Year,Median Rental Price,Median Housing Selling Price,Average Rental Price,Average Housing Selling Price
0,2016,"$2,150","$621,000","$2,821","$657,525"
1,2017,"$2,100","$705,000","$2,341","$762,677"
2,2018,"$2,200","$675,000","$2,243","$717,413"
3,2019,"$2,300","$725,000","$2,369","$767,261"
4,2020,"$2,400","$810,786","$2,624","$880,169"
5,2021,"$2,650","$990,000","$2,785","$1,104,704"
6,2022,"$2,800","$1,100,000","$2,820","$1,196,104"
7,2023,"$2,900","$1,015,000","$2,989","$1,101,957"

In [33]:
school_df = school_public_df.loc[school_public_df['Provider'] == 'Province of Ontario']
school_df_milton = school_public_df.loc[school_public_df['CSDNAME'] == 'Milton']
school_df_milton

,Index,Source_ID,Facility_Name,Facility_Type,Authority_Name,ISCED010,ISCED020,ISCED1,ISCED2,ISCED3,...,Postal_Code,PRUID,CSDNAME,CSDUID,Longitude,Latitude,Geo_Source,Provider,CMANAME,CMAUID
266,56dfa4e43f9d3e1fd2c1,342322,École élémentaire Dyane-Adam,Public,CS Viamonde,1,1,1,0,0,...,L9T6J4,35,Milton,3524009,-79.8787,43.51839,Source,Province of Ontario,Toronto,535
358,8beeab446e576b16b529,694632,ÉÉC Saint-Nicolas,Catholic,CS catholique MonAvenir,1,1,1,0,0,...,L9T4A3,35,Milton,3524009,-79.8776,43.52873,Source,Province of Ontario,Toronto,535
363,6866c0a2daa890c0e715,779909,ÉÉC Sainte-Anne,Catholic,CS catholique MonAvenir,1,1,1,0,0,...,L9T7V8,35,Milton,3524009,-79.8434,43.51934,Source,Province of Ontario,Toronto,535
8215,553838317b31a9947fbe,669398,Montessori School of Milton Inc,Private,..,0,0,1,1,0,...,L9T7W6,35,Milton,3524009,-79.87822784,43.50116574,AGOL,Province of Ontario,Toronto,535
8339,02720786d966799ae311,668186,Oxford Learning Academy,Private,..,0,0,1,1,0,...,L9T3Z3,35,Milton,3524009,-79.87150069,43.52394302,AGOL,Province of Ontario,Toronto,535
8530,d192ddc575a774c16cba,669099,Stirling Montessori Academy Inc,Private,..,0,0,1,1,0,...,L9T1N4,35,Milton,3524009,-79.88537107,43.51116283,AGOL,Province of Ontario,Toronto,535
8564,2851b01e65a54c72206f,668379,Tarbiyah Elementary School,Private,..,0,0,1,1,0,...,L9T2T1,35,Milton,3524009,-79.87997186,43.52018415,AGOL,Province of Ontario,Toronto,535
9675,95ef9a36e7a8c3021369,689726,Bishop Paul Francis Reding Catholic Secondary ...,Catholic,Halton CDSB,0,0,0,1,1,...,L9T6H7,35,Milton,3524009,-79.8627,43.53094,Source,Province of Ontario,Toronto,535
9679,12776f7f8214dfa95775,708160,Guardian Angels Catholic Elementary School,Catholic,Halton CDSB,1,1,1,1,0,...,L9T6B1,35,Milton,3524009,-79.8437,43.51848,Source,Province of Ontario,Toronto,535
9683,db688946d6c58e93de3c,719005,Holy Rosary (Milton) Catholic Elementary School,Catholic,Halton CDSB,1,1,1,1,0,...,L9T2R3,35,Milton,3524009,-79.8856,43.51755,Source,Province of Ontario,Toronto,535
9685,5066ab999798deca972d,687394,Lumen Christi Catholic Elementary School,Catholic,Halton CDSB,1,1,1,1,0,...,L9T0Z1,35,Milton,3524009,-79.8728,43.48481,Source,Province of Ontario,Toronto,535
9687,f41bde72d6ce70cdf887,737147,Our Lady of Fatima Catholic Elementary School,Catholic,Halton CDSB,1,1,1,1,0,...,L9T6Z3,35,Milton,3524009,-79.8488,43.50506,Source,Province of Ontario,Toronto,535
9689,45354e27ccd5cedbf2a5,734373,Our Lady of Victory Catholic Elementary School,Catholic,Halton CDSB,1,1,1,1,0,...,L9T4Z3,35,Milton,3524009,-79.8671,43.50365,Source,Province of Ontario,Toronto,535
9690,d5cbbbda4b7700700ff4,810355,Queen of Heaven Catholic Elementary School,Catholic,Halton CDSB,1,1,1,1,0,...,L9T7M4,35,Milton,3524009,-79.8886,43.49452,Source,Province of Ontario,Toronto,535
9694,10bfe20d44c30d9bfa6b,683661,St. Anthony of Padua Catholic Elementary School,Catholic,Halton CDSB,1,1,1,1,0,...,L9T6T7,35,Milton,3524009,-79.8553,43.52586,Source,Province of Ontario,Toronto,535
9695,70c516e8d4dca178445a,681054,St. Benedict Catholic Elementary School,Catholic,Halton CDSB,1,1,1,1,0,...,L9T8N2,35,Milton,3524009,-79.8656,43.49642,Source,Province of Ontario,Toronto,535
9703,ea97af174f438ee275a2,696392,St. Francis of Xavier Catholic Secondary School,Catholic,Halton CDSB,0,0,0,1,1,...,L9T8B4,35,Milton,3524009,-79.8578,43.48773,Source,Province of Ontario,Toronto,535
9720,a9f10860042a5c572511,843989,St. Peter Catholic Elementary School,Catholic,Halton CDSB,1,1,1,1,0,...,L9T5P7,35,Milton,3524009,-79.8643,43.53378,Source,Province of Ontario,Toronto,535
9722,268fb0bf142a8c1d2975,794978,St. Scholastica Catholic Elementary School,Catholic,Halton CDSB,1,1,1,1,0,...,L9T7K6,35,Milton,3524009,-79.8461,43.50323,Source,Province of Ontario,Toronto,535
9735,2b7041c492744c36511e,251664,Anne J. MacArthur Public School,Public,Halton DSB,1,1,1,1,0,...,L9T8J6,35,Milton,3524009,-79.8613,43.49625,Source,Province of Ontario,Toronto,535
9736,6366a0318a9144f6edd2,124887,Boyne Public School,Public,Halton DSB,1,1,1,1,0,...,L9E0B5,35,Milton,3524009,-79.8537,43.4909,Source,Province of Ontario,Toronto,535
9739,123fdd882659a1246179,66761,Brookville Public School,Public,Halton DSB,1,1,1,1,0,...,L0P1B0,35,Milton,3524009,-80.0474,43.53337,Source,Province of Ontario,Toronto,535
9741,316dc7b5318d3e09b07c,586248,Bruce Trail Public School,Public,Halton DSB,1,1,1,1,0,...,L9T6N8,35,Milton,3524009,-79.8494,43.52311,Source,Province of Ontario,Toronto,535
9749,cabb7fca480dc4b46f0c,76970,Chris Hadfield Public School,Public,Halton DSB,1,1,1,1,0,...,L9T5P5,35,Milton,3524009,-79.8676,43.53492,Source,Province of Ontario,Toronto,535
9751,cb610ac5e14182c02499,967740,Craig Kielburger Secondary School,Public,Halton DSB,0,0,0,1,1,...,L9T7V8,35,Milton,3524009,-79.8268,43.51472,Source,Province of Ontario,Toronto,535
9756,bec2ea0c53cc3ff5f4a1,169110,E W Foster School,Public,Halton DSB,1,1,1,0,0,...,L9T4M5,35,Milton,3524009,-79.8617,43.51985,Source,Province of Ontario,Toronto,535
9759,b364da29ef34a189b1a7,121112,Escarpment View Public School,Public,Halton DSB,1,1,1,1,0,...,L9T0T1,35,Milton,3524009,-79.8812,43.49751,Source,Province of Ontario,Toronto,535
9768,d9d6ec81ba8f1f4dbaaf,940976,Gary Allan High School - Milton,Public,Halton DSB,0,0,0,1,1,...,L9T4N5,35,Milton,3524009,-79.871,43.51439,Source,Province of Ontario,Toronto,535
9777,443b5eecc5f02aad68a4,111600,Hawthorne Village Public School,Public,Halton DSB,1,1,1,1,0,...,L9T6X9,35,Milton,3524009,-79.838,43.51421,Source,Province of Ontario,Toronto,535
9779,8463b860cdd735c2752f,158377,Irma Coulson Elementary Public School,Public,Halton DSB,1,1,1,1,0,...,L9T8M4,35,Milton,3524009,-79.8423,43.5229,Source,Province of Ontario,Toronto,535
9781,05ed1d8e7f43411c1c1b,280356,J M Denyes Public School,Public,Halton DSB,1,1,1,0,0,...,L9T2E5,35,Milton,3524009,-79.8765,43.50969,Source,Province of Ontario,Toronto,535
9794,528c3ae50e2d7e596e48,345229,Martin Street Public School,Public,Halton DSB,1,1,1,1,0,...,L9T2R4,35,Milton,3524009,-79.8883,43.51659,Source,Province of Ontario,Toronto,535
9796,a62cbe7263189a3d9bee,926736,Milton District High School,Public,Halton DSB,0,0,0,1,1,...,L9T2G4,35,Milton,3524009,-79.8709,43.50583,Source,Province of Ontario,Toronto,535
9806,6aa431c1c32541158774,310777,P. L. Robertson Public School,Public,Halton DSB,1,1,1,1,0,...,L9T2C9,35,Milton,3524009,-79.871,43.48768,Source,Province of Ontario,Toronto,535
9817,daade9d3940ce8af9d5e,487252,Robert Baldwin Public School,Public,Halton DSB,1,1,1,0,0,...,L9T3J9,35,Milton,3524009,-79.8783,43.52641,Source,Province of Ontario,Toronto,535
9822,68e445d0f124ff7dd550,556807,Sam Sherratt Public School,Public,Halton DSB,1,1,1,1,0,...,L9T4N4,35,Milton,3524009,-79.8604,43.51383,Source,Province of Ontario,Toronto,535
9830,575bc90cd5a2218e2760,393777,Tiger Jeet Singh Public School,Public,Halton DSB,1,1,1,1,0,...,L9T7P6,35,Milton,3524009,-79.8536,43.50848,Source,Province of Ontario,Toronto,535
9832,27c5a192f73d571b77be,369253,Viola Desmond Public School,Public,Halton DSB,1,1,1,1,0,...,L9E1H9,35,Milton,3524009,-79.8611,43.48978,Source,Province of Ontario,Toronto,535
9834,abb992e17c03c21ba58e,579874,W I Dick Middle School,Public,Halton DSB,0,0,1,1,0,...,L9T1W8,35,Milton,3524009,-79.8877,43.52116,Source,Province of Ontario,Toronto,535
11093,49d4db1da11bc5c040d4,554596,E C Drury/Trillium Demonstration School,Provincial,Provincial and Demonstration Schools,0,0,1,1,0,...,L9T3X9,35,Milton,3524009,-79.8691,43.51216,Source,Province of Ontario,Toronto,535
11094,240b5c926be13e0004f4,909203,E C Drury/Trillium Demonstration School,Provincial,Provincial and Demonstration Schools,0,0,0,1,1,...,L9T3X9,35,Milton,3524009,-79.8691,43.51216,Source,Province of Ontario,Toronto,535
11095,79a28fba3225f0762c7c,417580,Ernest C Drury School for the Deaf,Provincial,Provincial and Demonstration Schools,1,1,1,1,0,...,L9T2M5,35,Milton,3524009,-79.8677,43.51429,Source,Province of Ontario,Toronto,535
11096,126b3c072141b0c127d7,909190,Ernest C Drury School for the Deaf,Provincial,Provincial and Demonstration Schools,0,0,0,1,1,...,L9T2M5,35,Milton,3524009,-79.8677,43.51429,Source,Province of Ontario,Toronto,535

In [34]:
tax_df = pd.read_excel('Resources/Past-Years-Tax-Rates-for-Web (1).xlsx')

In [45]:
data = {
    'City': ['Milton', 'Milton'],
    'Year': ['2016', '2021'],
    'Population': [
        milton_df_2016_cleaning.at[0, 'Total'],
        milton_df_2021_cleaning.at[0, 'Total']
    ],
    'Household Income ($)': [
        milton_df_2016_cleaning.at[6, 'Total'],
        milton_df_2021_cleaning.at[7, 'Total']
    ],
    'Average Rent ($)': [
        milton_df_2.at[0, 'Average Rental Price'],
        milton_df_2.at[5, 'Average Rental Price']
    ],
    'Median Rent ($)': [
        milton_df_2.at[0, 'Median Rental Price'],
        milton_df_2.at[5, 'Median Rental Price']
    ],
    'Estimated House Value ($)': [
        milton_df_2016_cleaning.at[12, 'Total'],
        milton_df_2021_cleaning.at[15, 'Total']
    ],
    'Unemployment Rate (%)': [
        milton_df_2016_cleaning.at[15, 'Total'],
        milton_df_2021_cleaning.at[16, 'Total']
    ],
    'Property Tax Rate (%)': [
         tax_df.at[0,'Urban Tax Rate (no Enhanced waste)'],
         tax_df.at[21, 'Unnamed: 32']
     ],
    'Rented Houses': [
        milton_df_2016_cleaning.at[10, 'Total'],
        milton_df_2021_cleaning.at[11, 'Total']
    ],
    'Owned Houses': [
        milton_df_2016_cleaning.at[9, 'Total'],
        milton_df_2021_cleaning.at[10, 'Total']
    ],
    'New Built': [
        milton_housing_df.at[26, 'All'],
        milton_housing_df.at[31, 'All']
    ],
    'Average Sale Price ($)': [
        milton_df_2.at[0, 'Average Housing Selling Price'],
        milton_df_2.at[5, 'Average Housing Selling Price']
    ],
    'Median Sale Price ($)': [
        milton_df_2.at[0, 'Median Housing Selling Price'],
        milton_df_2.at[5, 'Median Housing Selling Price']
    ]
}

cleaned_milton_df = pd.DataFrame(data)

cleaned_milton_df = cleaned_milton_df.set_index(['City', 'Year'])
cleaned_milton_df

             Population  Household Income ($) Average Rent ($)  \
City   Year
Milton 2016    110128.0              120157.0           $2,821
       2021    132979.0              142600.0           $2,785

            Median Rent ($)  Estimated House Value ($)  Unemployment Rate (%)  \
City   Year
Milton 2016          $2,150                   622911.0                    5.6
       2021          $2,650                  1022000.0                   11.4

             Property Tax Rate (%)  Rented Houses  Owned Houses  New Built  \
City   Year
Milton 2016               0.006820         4840.0       29415.0        891
       2021               0.007449         6950.0       33085.0       1073

            Average Sale Price ($) Median Sale Price ($)
City   Year
Milton 2016               $657,525              $621,000
       2021             $1,104,704              $990,000

In [36]:
# Set the search parameters
target_city = "Milton, Canada"
radius = 10000

params = {
    "categories": 'leisure',
    'text': target_city,
    'apiKey': apify_key,
    'limit':100
}

base_url = "https://api.geoapify.com/v1/geocode/search"

In [37]:
response = requests.get(base_url, params=params).json()

In [38]:
lat = response["features"][0]["properties"]["lat"]
lon = response["features"][0]["properties"]["lon"]

In [39]:
base_url = 'https://api.geoapify.com/v2/places?'
categories = 'leisure'
radius = 10000
limit=500
params = {
    "categories": categories,
    "apiKey": apify_key,
    "limit": limit,
    "radius": radius
}
params["filter"] = f'circle:{lon},{lat},{radius}'
params["bias"] = f'proximity:{lon},{lat}'
leisure_dict = requests.get(base_url, params=params).json()

In [40]:
leisure_types = []
for feature in leisure_dict['features']:
    leisure_info = feature['properties']
    if 'city' in feature['properties']:
        leisure_cities = feature['properties']['city']
        if leisure_cities == 'Milton':
            leisure_types.append(leisure_info)

In [41]:
len(leisure_types)

234

In [42]:
school_df_milton.head(3)

,Index,Source_ID,Facility_Name,Facility_Type,Authority_Name,ISCED010,ISCED020,ISCED1,ISCED2,ISCED3,...,Postal_Code,PRUID,CSDNAME,CSDUID,Longitude,Latitude,Geo_Source,Provider,CMANAME,CMAUID
266,56dfa4e43f9d3e1fd2c1,342322,École élémentaire Dyane-Adam,Public,CS Viamonde,1,1,1,0,0,...,L9T6J4,35,Milton,3524009,-79.8787,43.51839,Source,Province of Ontario,Toronto,535
358,8beeab446e576b16b529,694632,ÉÉC Saint-Nicolas,Catholic,CS catholique MonAvenir,1,1,1,0,0,...,L9T4A3,35,Milton,3524009,-79.8776,43.52873,Source,Province of Ontario,Toronto,535
363,6866c0a2daa890c0e715,779909,ÉÉC Sainte-Anne,Catholic,CS catholique MonAvenir,1,1,1,0,0,...,L9T7V8,35,Milton,3524009,-79.8434,43.51934,Source,Province of Ontario,Toronto,535

In [48]:
leisure_data = {
    'City': ['Milton'],
    '# of Public Schools': [school_df_milton.loc[school_df_milton['Facility_Type'] == 'Public'].shape[0]],
    '# of Catholic Schools': [
        school_df_milton.loc[school_df_milton['Facility_Type'] == 'Catholic'].shape[0]],
    '# of Private Schools': [school_df_milton.loc[school_df_milton['Facility_Type'] == 'Private'].shape[0]],
    '# of Leisure Spaces': [len(leisure_types)
    ]}
milton_leisure_df = pd.DataFrame(leisure_data)
milton_leisure_df.set_index('City', inplace=True)
milton_leisure_df

,# of Public Schools,# of Catholic Schools,# of Private Schools,# of Leisure Spaces
City,,,,
Milton,21,14,4,234

In [46]:
cleaned_milton_df

             Population  Household Income ($) Average Rent ($)  \
City   Year
Milton 2016    110128.0              120157.0           $2,821
       2021    132979.0              142600.0           $2,785

            Median Rent ($)  Estimated House Value ($)  Unemployment Rate (%)  \
City   Year
Milton 2016          $2,150                   622911.0                    5.6
       2021          $2,650                  1022000.0                   11.4

             Property Tax Rate (%)  Rented Houses  Owned Houses  New Built  \
City   Year
Milton 2016               0.006820         4840.0       29415.0        891
       2021               0.007449         6950.0       33085.0       1073

            Average Sale Price ($) Median Sale Price ($)
City   Year
Milton 2016               $657,525              $621,000
       2021             $1,104,704              $990,000

In [49]:
school_df = school_public_df.loc[school_public_df['Provider'] == 'Province of Ontario']
school_df_Vaughan = school_public_df.loc[school_public_df['CSDNAME'] == 'Vaughan']
school_df_Vaughan

,Index,Source_ID,Facility_Name,Facility_Type,Authority_Name,ISCED010,ISCED020,ISCED1,ISCED2,ISCED3,...,Postal_Code,PRUID,CSDNAME,CSDUID,Longitude,Latitude,Geo_Source,Provider,CMANAME,CMAUID
279,692535cfd55370e2d395,302481,École élémentaire La Fontaine,Public,CS Viamonde,1,1,1,0,0,...,L0J1C0,35,Vaughan,3519028,-79.6211,43.83457,Source,Province of Ontario,Toronto,535
312,79e11a4048d78c9db6a0,739984,ÉIC Renaissance,Catholic,CS catholique MonAvenir,0,0,0,1,0,...,L6A1J5,35,Vaughan,3519028,-79.5042,43.84723,Source,Province of Ontario,Toronto,535
338,86f7798611be9a40291b,795917,ÉÉC Le-Petit-Prince,Catholic,CS catholique MonAvenir,1,1,1,1,0,...,L6A1Y3,35,Vaughan,3519028,-79.5246,43.85,Source,Province of Ontario,Toronto,535
7438,e672f922a3d6b04f8112,667420,Arts and Science Academy of Canada,Private,..,0,0,1,1,1,...,L4K2T4,35,Vaughan,3519028,-79.48250369,43.81830288,AGOL,Province of Ontario,Toronto,535
7456,2e7ee910b448134d012a,669532,Autumn Hill Academy,Private,..,0,0,1,1,0,...,L4K5M4,35,Vaughan,3519028,-79.4822664,43.83902177,AGOL,Province of Ontario,Toronto,535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13199,92b336d16276867e8736,952516,Westmount Collegiate Institute,Public,York Region DSB,0,0,0,1,1,...,L4J8G3,35,Vaughan,3519028,-79.4549,43.8163,Source,Province of Ontario,Toronto,535
13205,0336739f3094d122a32d,614700,Wilshire Elementary School,Public,York Region DSB,1,1,1,1,0,...,L4J7S8,35,Vaughan,3519028,-79.4668,43.81369,Source,Province of Ontario,Toronto,535
13208,809baf85b35e25858120,954292,Woodbridge College,Public,York Region DSB,0,0,0,1,1,...,L4L1J3,35,Vaughan,3519028,-79.5828,43.7799,Source,Province of Ontario,Toronto,535
13209,951f4b897eb9175075d0,617318,Woodbridge Public School,Public,York Region DSB,1,1,1,1,0,...,L4L1J7,35,Vaughan,3519028,-79.5956,43.78062,Source,Province of Ontario,Toronto,535
13211,dcf22c2304ea5fe45b73,624101,Yorkhill Elementary School,Public,York Region DSB,1,1,1,1,0,...,L4J5K2,35,Vaughan,3519028,-79.4368,43.80399,Source,Province of Ontario,Toronto,535