In [1]:
#Dependencies
import pandas as pd
from pathlib import Path
import numpy as np
import api_keys
import json
from pprint import pprint
import requests
from api_keys import apify_key

****<font size="5">Population</font>****

In [2]:
#Listing all my paths
data = Path("Resources/2016 - 2021 Population - Oshawa.csv")

#Read the csv file
df = pd.read_csv(data)
oshawa_pop_2021 = df.index[3][3]
oshawa_pop_2016 = df.index[4][3]
print(oshawa_pop_2021+" "+"and"+" "+oshawa_pop_2016)

175383 and 159458

In [3]:

#Create a MultiIndex using an Index and a column:

Oshawa_df = pd.DataFrame({'City': ['Oshawa', 'Oshawa' ],
                          'Year': ['2016',' 2021'],
                          'Population': [oshawa_pop_2016, oshawa_pop_2021,],
                         })
Oshawa_df = Oshawa_df.set_index(['City', 'Year'])
Oshawa_df

             Population
City   Year
Oshawa 2016      159458
        2021     175383

****<font size="5">Household Income</font>****

In [4]:
#Listing all my paths
data_2016 = Path("Resources/2016 Household Income (stat can) - Oshawa.csv")

#Read the csv file
df_2016 = pd.read_csv(data_2016, encoding = "ISO-8859-1")
oshawa_income_2016 = df_2016.index[83][3]
oshawa_income_2016

'   70211'

In [5]:
#Listing all my paths
data_2021 = Path("Resources/2021 Household Income (stat can) - Oshawa.csv")

#Read the csv file
df_2021 = pd.read_csv(data_2021, encoding = "ISO-8859-1")
oshawa_income_2021 = df_2021.index[4][3]
oshawa_income_2021

' 86000'

In [6]:
#Adding to the df
Oshawa_df["Household Income ($)"] = [oshawa_income_2016,oshawa_income_2021]
Oshawa_df

             Population Household Income ($)
City   Year
Oshawa 2016      159458                70211
        2021     175383                86000

****<font size="5">Average and Median Rent</font>****

In [7]:
#Listing all my paths
data_2016 = Path("Resources/2016 Owned vs Rented - Oshawa.csv")

#Read the csv file
df_2016 = pd.read_csv(data_2016, encoding = "ISO-8859-1")
oshawa_average_rent_2016 = df_2016.index[67][3]
oshawa_median_rent_2016 = df_2016.index[66][3]
print(f'{oshawa_average_rent_2016} and {oshawa_median_rent_2016}')

    1070 and     1015

In [8]:
#Listing all my paths
data_2021 = Path("Resources/2021 Owned vs Rented - Oshawa.csv")

#Read the csv file
df_2021 = pd.read_csv(data_2021, encoding = "ISO-8859-1")
oshawa_average_rent_2021 = df_2021.index[84][3]
oshawa_median_rent_2021 = df_2021.index[83][3]
print(f'{oshawa_average_rent_2021} and {oshawa_median_rent_2021}')

  1400 and   1300

In [9]:
#Adding to the df
Oshawa_df["Average Rent ($)"] = [oshawa_average_rent_2016,oshawa_average_rent_2021]
Oshawa_df["Median Rent ($)"] = [oshawa_median_rent_2016,oshawa_median_rent_2021]
Oshawa_df

             Population Household Income ($) Average Rent ($) Median Rent ($)
City   Year
Oshawa 2016      159458                70211             1070            1015
        2021     175383                86000             1400            1300

****<font size="5">Estimated House Value</font>****

In [10]:
#Listing all my paths
data_2016 = Path("Resources/2016 Owned vs Rented - Oshawa.csv")

#Read the csv file
df_2016 = pd.read_csv(data_2016, encoding = "ISO-8859-1",skiprows=[0,1])
oshawa_value_2016 = df_2016.index[60][3]
oshawa_value_2016

397934.0

In [11]:
#Listing all my paths
data_2021 = Path("Resources/2021 Owned vs Rented - Oshawa.csv")

#Read the csv file
df_2021 = pd.read_csv(data_2021, encoding = "ISO-8859-1",skiprows=[0,1])
oshawa_value_2021 = df_2021.iloc[76][3]
oshawa_value_2021

'705000'

In [12]:
#Adding to the df
Oshawa_df["Estimated House Value ($)"] = [oshawa_value_2016,oshawa_value_2021]
Oshawa_df

             Population Household Income ($) Average Rent ($) Median Rent ($)  \
City   Year
Oshawa 2016      159458                70211             1070            1015
        2021     175383                86000             1400            1300

             Estimated House Value ($)
City   Year
Oshawa 2016                   397934.0
        2021                    705000

**<font size="5">Unemployment rate</font>**

In [13]:
#Listing all my paths
data_2016 = Path("Resources/2016 Employment - Oshawa.csv")

#Read the csv file
df_2016 = pd.read_csv(data_2016, encoding = "ISO-8859-1")
oshawa_unemploymentr_2016 = df_2016.index[9][3]
oshawa_unemploymentr_2016

'  9.8'

In [14]:
#Listing all my paths
data_2021 = Path("Resources/2021 Employment - Oshawa.csv")

#Read the csv file
df_2021 = pd.read_csv(data_2021, encoding = "ISO-8859-1")
oshawa_unemploymentr_2021 = df_2021.index[10][3]
oshawa_unemploymentr_2021

'   15.2'

In [15]:
#Adding to the df
Oshawa_df["Unemployment Rate (%)"] = [oshawa_unemploymentr_2016,oshawa_unemploymentr_2021]
Oshawa_df

             Population Household Income ($) Average Rent ($) Median Rent ($)  \
City   Year
Oshawa 2016      159458                70211             1070            1015
        2021     175383                86000             1400            1300

             Estimated House Value ($) Unemployment Rate (%)
City   Year
Oshawa 2016                   397934.0                   9.8
        2021                    705000                  15.2

**<font size="5">Property Tax</font>**

In [16]:
#Small note : tax = House Value * tax rate
#Listing all my paths
data_2016 = Path("Resources/2016 Property Tax Rates-Oshawa.csv")

#Read the csv file
df_2016 = pd.read_csv(data_2016, encoding = "ISO-8859-1", on_bad_lines = "skip", sep = ";")
df_2016 = df_2016.loc[df_2016["Municipality"] == "Oshawa"]
oshawa_taxr_2016 = df_2016.iloc[0][4]
oshawa_taxr_2016

1.561085

In [17]:
#Small note : tax = House Value * tax rate
#Listing all my paths
data_2021 = Path("Resources/2021 Property Tax Rates-Oshawa.csv")

#Read the csv file
df_2021 = pd.read_csv(data_2021, encoding = "ISO-8859-1", on_bad_lines = "skip", sep = ";")
oshawa_taxr_2021 = df_2021.iloc[3][3]
oshawa_taxr_2021

'1.304741'

In [18]:
#Adding to the df
Oshawa_df["Property Tax Rate (%)"] = [oshawa_taxr_2016,oshawa_taxr_2021]
Oshawa_df

             Population Household Income ($) Average Rent ($) Median Rent ($)  \
City   Year
Oshawa 2016      159458                70211             1070            1015
        2021     175383                86000             1400            1300

             Estimated House Value ($) Unemployment Rate (%)  \
City   Year
Oshawa 2016                   397934.0                   9.8
        2021                    705000                  15.2

             Property Tax Rate (%)
City   Year
Oshawa 2016               1.561085
        2021              1.304741

**<font size="5">Rented & Owned Houses</font>**

In [19]:
#Listing all my paths
data_2016 = Path("Resources/2016 Owned vs Rented - Oshawa.csv")

#Read the csv file
df_2016 = pd.read_csv(data_2016, encoding = "ISO-8859-1")
oshawa_owned_2016 = df_2016.index[3][3]
oshawa_rented_2016 = df_2016.index[4][3]
print(f'{oshawa_owned_2016} and {oshawa_rented_2016}')

   42875 and    19720

In [20]:
#Listing all my paths
data_2021 = Path("Resources/2021 Owned vs Rented - Oshawa.csv")

#Read the csv file
df_2021 = pd.read_csv(data_2021, encoding = "ISO-8859-1")
oshawa_owned_2021 = df_2021.index[4][3]
oshawa_rented_2021 = df_2021.index[5][3]
print(f'{oshawa_owned_2021} and {oshawa_rented_2021}')

 42750 and  23880

In [21]:
#Adding to the df
Oshawa_df["Rented Houses"] = [oshawa_rented_2016,oshawa_rented_2021]
Oshawa_df["Owned Houses"] = [oshawa_owned_2016,oshawa_owned_2021]
Oshawa_df

             Population Household Income ($) Average Rent ($) Median Rent ($)  \
City   Year
Oshawa 2016      159458                70211             1070            1015
        2021     175383                86000             1400            1300

             Estimated House Value ($) Unemployment Rate (%)  \
City   Year
Oshawa 2016                   397934.0                   9.8
        2021                    705000                  15.2

             Property Tax Rate (%) Rented Houses Owned Houses
City   Year
Oshawa 2016               1.561085         19720        42875
        2021              1.304741         23880        42750

**<font size="5">New Housing Built</font>**

In [22]:
#Listing all my paths
data_2016 = Path("Resources/2016 New Built - Oshawa.xlsx")

#Read the xlsx file
df_2016 = pd.read_excel(data_2016, skiprows= [0,1,2,3])
oshawa_new__2016 = df_2016.iloc[509][7]
oshawa_new__2016

834

In [23]:
#Listing all my paths
data_2021 = Path("Resources/2021 New Built - Oshawa.xlsx")

#Read the xlsx file
df_2021 = pd.read_excel(data_2021, skiprows= [0,1,2,3])
oshawa_new__2021 = df_2021.iloc[540][7]
oshawa_new__2021

1416

In [24]:
#Adding to the df
Oshawa_df["New Built"] = [oshawa_new__2016,oshawa_new__2021]
Oshawa_df

             Population Household Income ($) Average Rent ($) Median Rent ($)  \
City   Year
Oshawa 2016      159458                70211             1070            1015
        2021     175383                86000             1400            1300

             Estimated House Value ($) Unemployment Rate (%)  \
City   Year
Oshawa 2016                   397934.0                   9.8
        2021                    705000                  15.2

             Property Tax Rate (%) Rented Houses Owned Houses  New Built
City   Year
Oshawa 2016               1.561085         19720        42875        834
        2021              1.304741         23880        42750       1416

**<font size="5">Average Sale Price</font>**

In [25]:
#Listing all my paths
data_2016 = Path("Resources/2016 Average Sale Price - Oshawa.csv")

#Read the pdf file
df_2016 = pd.read_csv(data_2016, skiprows=[1],on_bad_lines="skip")
oshawa_sale_2016 = df_2016.index[0][3]
oshawa_sale_2016

443635.0

In [26]:
#Listing all my paths
data_2021 = Path("Resources/2021 Average Sale Price - Oshawa.csv")

#Read the csv file
df_2021 = pd.read_csv(data_2021, skiprows=[1],on_bad_lines="skip")
oshawa_sale_2021 = df_2021.index[0][3]
oshawa_sale_2021

798221.0

In [27]:

#Adding to the df
Oshawa_df["Average Sale Price ($)"] = [oshawa_sale_2016,oshawa_sale_2021]
Oshawa_df

             Population Household Income ($) Average Rent ($) Median Rent ($)  \
City   Year
Oshawa 2016      159458                70211             1070            1015
        2021     175383                86000             1400            1300

             Estimated House Value ($) Unemployment Rate (%)  \
City   Year
Oshawa 2016                   397934.0                   9.8
        2021                    705000                  15.2

             Property Tax Rate (%) Rented Houses Owned Houses  New Built  \
City   Year
Oshawa 2016               1.561085         19720        42875        834
        2021              1.304741         23880        42750       1416

              Average Sale Price ($)
City   Year
Oshawa 2016                 443635.0
        2021                798221.0

**<font size="5">Median Sale Price</font>**

In [28]:
#Listing all my paths
data = Path("Resources/Median Sale Price - Oshawa.csv")

#Read the csv file
df = pd.read_csv(data, encoding = "ISO-8859-1")
oshawa_median_sale = df.iloc[3].values
oshawa_median_sale_2016 = oshawa_median_sale[1]
oshawa_median_sale = df.iloc[8].values
oshawa_median_sale_2021 = oshawa_median_sale[1]
print(f' Median sale price in 2016 : {oshawa_median_sale_2016} & median sale price in 2021 : {oshawa_median_sale_2021}')

 Median sale price in 2016 : $420,000 & median sale price in 2021 : $765,000

In [29]:
#Adding to the df
Oshawa_df["Median Sale Price ($)"] = [oshawa_median_sale_2016,oshawa_median_sale_2021]
Oshawa_df

             Population Household Income ($) Average Rent ($) Median Rent ($)  \
City   Year
Oshawa 2016      159458                70211             1070            1015
        2021     175383                86000             1400            1300

             Estimated House Value ($) Unemployment Rate (%)  \
City   Year
Oshawa 2016                   397934.0                   9.8
        2021                    705000                  15.2

             Property Tax Rate (%) Rented Houses Owned Houses  New Built  \
City   Year
Oshawa 2016               1.561085         19720        42875        834
        2021              1.304741         23880        42750       1416

              Average Sale Price ($) Median Sale Price ($)
City   Year
Oshawa 2016                 443635.0              $420,000
        2021                798221.0              $765,000

In [30]:

#Printing to csv
Oshawa_df.to_csv('Output/Oshawa_df.csv')

#Displaying the df
Oshawa_df

             Population Household Income ($) Average Rent ($) Median Rent ($)  \
City   Year
Oshawa 2016      159458                70211             1070            1015
        2021     175383                86000             1400            1300

             Estimated House Value ($) Unemployment Rate (%)  \
City   Year
Oshawa 2016                   397934.0                   9.8
        2021                    705000                  15.2

             Property Tax Rate (%) Rented Houses Owned Houses  New Built  \
City   Year
Oshawa 2016               1.561085         19720        42875        834
        2021              1.304741         23880        42750       1416

              Average Sale Price ($) Median Sale Price ($)
City   Year
Oshawa 2016                 443635.0              $420,000
        2021                798221.0              $765,000

**<font size="5">Amenities</font>**

In [31]:
#Listing my paths
schools = Path('Resources/schools by city.csv')

#Finding the total number of each type of schools
df =pd.read_csv(schools, encoding = 'ISO-8859-1', sep = ';')
df = df.loc[df["City"]=="Oshawa"]
values = df['Facility_Type'].value_counts()
values

Facility_Type
Public                      32
Catholic                    15
Private                      8
Private Institution          4
Hospital                     1
Technical and Vocational     1
University                   1
Name: count, dtype: int64

In [32]:
#Creating a df
Oshawa_amenities_df = pd.DataFrame({'# of Public Schools':values[0],
                                   '# of Catholic Schools':values[1],
                                   '# of Private Schools':values[2],
                                   'City':'Oshawa'},
                                   index=[0])
Oshawa_amenities_df = Oshawa_amenities_df.set_index('City')
#Displaying the df
Oshawa_amenities_df

        # of Public Schools  # of Catholic Schools  # of Private Schools
City
Oshawa                   32                     15                     8

In [33]:
# Step 1. Find Oshawa's lats and longs
base_url1 = "https://api.geoapify.com/v1/geocode/search?"
target_city = "Oshawa"
combined_url = f'{base_url1}text={target_city}&format=json&apiKey={apify_key}'
response =requests.get(combined_url).json()
lat = response['results'][0]['lat']
lon = response['results'][0]['lon']
print(f'the latitude is: {lat} and the longitude is: {lon}')

the latitude is: 43.8975558 and the longitude is: -78.8635324

In [34]:
#Step 2.Find the places using 
#https://api.geoapify.com/v2/places?categories=leisure&filter=circle:-78.8635324,43.8975558,10000&bias=proximity:-78.8635324,43.8975558&limit=300&apiKey=YOUR_API_KEY

radius = 10000
limit = 500
base_url2 = "https://api.geoapify.com/v2/places?"
combined_url = f'{base_url2}categories=leisure&filter=circle:{lon},{lat},{radius}&bias=proximity:{lon},{lat}&limit={limit}&apiKey={apify_key}'

response = requests.get(combined_url).json()
leisure_types = []
for feature in response['features']:
    leisure_info = feature['properties']['datasource']['raw']['osm_id']
    if 'city' in feature['properties']:
        leisure_cities = feature['properties']['city']
        if leisure_cities == 'Oshawa':
            leisure_types.append(leisure_info)
lenght = len(leisure_types)
lenght

356

In [35]:
#Adding to the df
Oshawa_amenities_df['# of Leisure Spaces'] = lenght

#Printing to csv
Oshawa_amenities_df.to_csv('Output/Oshawa_amenities_df.csv')

#Displaying the df
Oshawa_amenities_df

,# of Public Schools,# of Catholic Schools,# of Private Schools,# of Leisure Spaces
City,,,,
Oshawa,32,15,8,356